<!--                 EDIT ATTRIBUTE MODAL                   -->
<!-- This is used in upload_data3, upload_data4, upload_data5 -->

{% load staticfiles %}
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />-->
<link href="{% static 'css/contextmenu.min.css' %}" rel="stylesheet" />

<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'js/contextmenu.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
		
		
		
		
<style>	

	/* --- Context Menu -------------------------------------------- */
	
	.contextmenu-menu {
		z-index: 2060 !important;
	}
	/* --- Edit Attribute Modal -------------------------------------------- */
	
	/*#editAttributeModal .modal-dialog {
		margin-left: -300px;
	}*/
	
	#editAttributeModal .modal-header.row {
		margin-right: 0px;
		margin-left:0px;
		padding:10px;
	}
	
	#editAttributeModal .modal-body {
		padding-top: 17px;
		padding-left: 25px;
		padding-right:25px;
		padding-bottom: 0px;
	}
	
	#editAttributeModal .modal-footer {
		padding: 8px;
		margin-top: 23px;
	}
	
	#editAttributeModal #modal-title {
		font-size: 22px;
	}


	
	/* Object Icon Popover ----*/
	
	.object-icon-box {
		height: 400px;
		overflow: auto;
		width: 265px;
	}
	
	.small-object-icon {
		height: 25px;
		width: 25px;
		background: rgb(249, 249, 249);
		border: 1px solid rgb(210, 210, 210);
		border-radius: 2px;
		box-shadow: -1px 1px 0px 2px rgba(0, 0, 0, 0.05);
		margin-top: 3px;
		margin-left: 1px;
		padding-top: 2px;
		padding-left: 2px;
		padding-right: 1px;
	}
	
	.small-object-icon:hover {
		background: rgb(235, 235, 235);
	}

	
	
</style>


	
	<!-- Edit Object Type Modal -->
	<div class="modal fade" id="editObjectTypeModal" tabindex="-1" role="dialog" aria-labelledby="chooseAttributeTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header row">
			<h5 class="modal-title col-md-11" id="modal-title">Edit <span class="object-type-name"></span></h5>
			<button type="button col-md-1" class="close" data-dismiss="modal" aria-label="Close"  onclick="closeObjectTypeModal()" style="margin-top:2px; margin-right:19px;font-size:29px">
			  <span aria-hidden="true" >&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			  <div class="container-fluid">
				<div class="form">
					<div class="form-group row">
						<label for="description" class="col-sm-4">Icon for <span class="object-type-name"></span></label>
						<div class="col-sm-8">
							<button type="button" id="object-icon-button" class="btn" style="display:inline-block;" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" title="Choose icon" data-content=''>
								<img src="{% static "images/object_icons/" %}si-glyph-mustache.svg">
							</button>
						</div>
					</div> 
					<input type="hidden" id="attribute_id" name="attribute_id" value="">
					<br>
					<div class="form-group row">
						<label for="expected_valid_period" class="col-sm-7">Is this a slow or fast changing attribute? Estimated time until the attribute changes significantly:</label>
						<div class="col-sm-5">
							<select class="form-control form-control-lg" id="expected_valid_period" name="expected_valid_period">
								<option value="" selected></option>
								<option value=3153600000>constant throughout the object's existence</option>
								<option value=315360000>10 years</option>
								<option value=157680000>5 years</option>
								<option value=63072000>2 years</option>
								<option value=31536000>1 year</option>
								<option value=14515200>6 months</option>
								<option value=7257600>3 months</option>
								<option value=2419200>1 month</option>
								<option value=1209600>2 weeks</option>
								<option value=604800>1 week</option>
								<option value=259200>3 days</option>
								<option value=86400>1 day</option>
								<option value=43200>12 hours</option>
								<option value=21600>6 hours</option>
								<option value=10800>3 hours</option>
								<option value=3600>1 hour</option>
								<option value=1800>30 minutes</option>
								<option value=360>6 minutes</option>
								<option value=60>1 minute</option>
								<option value=30>30 seconds</option>
								<option value=6>6 seconds</option>
								<option value=1>1 second</option>
							</select>
						</div>
					</div>
					<br>
					<div class="form-group row">
						<label for="first_applicable_object_type" class="col-sm-7">Most general Object Type for which it makes sence to have this attribute</label>
						<div class="col-sm-5">
							<select class="form-control form-control-lg" id="first_applicable_object_type" name="first_applicable_object_type">
							</select>
						</div>
					</div>
					<br>
					<div class="form-group row">
						<label for="type_edit" class="col-sm-7">Data Type</label>
						<div class="col-sm-5">
							<select class="form-control form-control-lg" id="type_edit" name="type" onchange="loadDataTypeSpecificAttributeOptions_edit()">
								<option value="" selected></option>
								<option value="string">string</option>
								<option value="int">int</option>
								<option value="real">real</option>
								<option value="bool">bool</option>
								<option value="date">date</option>
							</select>
						</div>
					</div>
					<br>
					<div id="edited-attribute-further-fields"></div>
				</div>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" onclick="closeObjectTypeModal()" id="editAttributeCloseButton" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-primary" onclick="saveChanges()">Save Changes</button>
			<button type="button" class="btn btn-danger" onclick="deleteAttribute()">Delete Attribute</button>
		  </div>
		  
		</div>
	  </div>
	</div>
	
	
<script>

//GLOBAL VARIABLES
var selected_object_type_id = "n1";

	
	
	/*========================================================================*/
	/*======================    BUILD THE MODAL     ==========================*/
	/*========================================================================*/
	
	function openEditObjectTypeModal(object_type_id){
	
		$("#editObjectTypeModal").modal('show');



		var object_type_name = objects_dict[parseInt(object_number)]['object_type_name'];
		var object_icon = objects_dict[parseInt(object_number)]['object_icon'];
		
		$("#object-type-name").html(object_type_name);
		$("#object-icon-button > img").attr('src','{% static "images/object_icons/" %}' + object_icon + '.svg');
		
		// draw the Icon Popover 
		popover_content = 	'<div class="object-icon-box">' +
								'<table>';
		for (var row = 0; row < Math.ceil(object_icons.length/8) ; row++) {
			popover_content += 	'<tr>';
			for (var column = 0; column < 8 ; column++) {
				icon_number = row*8 + column;
				if (icon_number < object_icons.length) {
					popover_content += '<td>' + 
											'<div class="small-object-icon" onclick="changeObjectTypeIcon(' + object_number + ', &#39;' + object_icons[icon_number] + '&#39;)">' +
												'<img src="{% static "images/object_icons/" %}' + object_icons[icon_number] + '.svg" %}">' +
											'</div>' +
										'</td>';
				}
			}
			popover_content += 		'</tr>';
		}
		popover_content += 	'</table>' +
						'</div>';
		$("#object-icon-button").attr('data-content',popover_content);
			
			
		
			
			
			
		
		// Fill in the attribute details -----------------------------
		var xhttp = new XMLHttpRequest();       
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				
				
				console.log(this.responseText)
				var response_dict = JSON.parse(this.responseText)
				
				$("#editAttributeModal #name").val(response_dict["name"]);
				$("#editAttributeModal #attribute_id").val(response_dict["id"]);
				$("#editAttributeModal #description").html(response_dict["description"]);
				$("#editAttributeModal #expected_valid_period").val(response_dict["expected_valid_period"]);
				first_applicable_object_type = response_dict["first_applicable_object_type"];
				$("#editAttributeModal #type_edit").val(response_dict["data_type"]);

				
				
				
				var dataTypeSpecificOptions = ""
				if (["int", "real", "date"].includes(response_dict["data_type"])) {
					dataTypeSpecificOptions += 	'<br>' +
												'<div class="form-group row">' +
													'<label for="min" class="col-sm-7">Minimum allowed value</label>' +
													'<div class="col-sm-5">' +
														'<input type="text" class="form-control" id="min" name="min" value="' + response_dict["format_specification"]["fields"]["column"]["min"] + '">' +
													'</div>' +
												'</div>' +
												'<br>' +
												'<div class="form-group row">' +
													'<label for="max" class="col-sm-7">Maximum allowed value</label>' +
													'<div class="col-sm-5">' +
														'<input type="text" class="form-control" id="max" name="max" value="' + response_dict["format_specification"]["fields"]["column"]["max"] + '">' +
													'</div>' +
												'</div>';
				}
				
				if (response_dict["data_type"] == "string") {
					var allowed_values = JSON.stringify(response_dict["format_specification"]["fields"]["column"]["allowed_values"])
					var checked  =  (typeof allowed_values === "undefined") ? "" : "checked";
					dataTypeSpecificOptions += 	'<br>' +
												'<div class="form-group row">' +
													'<label for="min_length" class="col-sm-7">Minimum string length</label>' +
													'<div class="col-sm-5">' +
														'<input type="text" class="form-control" id="min_length" name="min_length" value="' + response_dict["format_specification"]["fields"]["column"]["min_length"] + '">' +
													'</div>' +
												'</div>' +
												'<br>' +
												'<div class="form-group row">' +
													'<label for="max_length" class="col-sm-7">Maximum string length</label>' +
													'<div class="col-sm-5">' +
														'<input type="text" class="form-control" id="max_length" name="max_length" value="' + response_dict["format_specification"]["fields"]["column"]["max_length"] + '">' +
													'</div>' +
												'</div>' +
												'<br>' +
												'<div class="row">' +
													'<div class="custom-control custom-checkbox">' +
														'<input type="checkbox" class="custom-control-input" id="is_categorical" onchange="toggleCategoricalField()" ' + checked + '>' +
														'<label class="custom-control-label" for="is_categorical">&nbsp;Categorical</label>' +
													'</div>' +
												'</div>' +
												'<div id="allowed-values-group" class="row" style="display:none;">' +
													'<label for="allowed_values" class="form-group col-sm-7">Allowed Values</label>' +
													'<div class="col-sm-5">' +
														'<input type="text" class="form-control" id="allowed_values" name="allowed_values" placeholder="' + allowed_values + '">' +
													'</div>' +
												'</div>';

				}
				
				$("#edited-attribute-further-fields").html(dataTypeSpecificOptions);
		
				
				
				// Load possible first_applicable_object_types ------------------------------------------------
				var xhttp = new XMLHttpRequest();       
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {

						var list_of_objects = JSON.parse(this.responseText);
						var options_html_string = ""
						for (var i = 0; i < list_of_objects.length; i++) {
							if (list_of_objects[i]["id"] == first_applicable_object_type) {
								options_html_string += '<option value="' + list_of_objects[i]["id"] + '" selected>' + list_of_objects[i]["name"] + '</option>'
							} else {
								options_html_string += '<option value="' + list_of_objects[i]["id"] + '">' + list_of_objects[i]["name"] + '</option>'
							}
						}
						$("#editAttributeModal #first_applicable_object_type").html(options_html_string);
						
					}
				};
				xhttp.open("GET", "/tool/get_list_of_objects", true);
				xhttp.send();
				// ---------------------------------------------------------------------------------------
				
				

			}
		};
		xhttp.open("GET", "/tool/get_attribute_details?attribute_id=" + attribute_id, true);
		xhttp.send();
		
	
	}
	
	/*========================================================================*/
	/*=====================    MODAL FUNCTIONS     ===========================*/
	/*========================================================================*/
		
	/*=============  ICON CHANGE  ================================================================ */
	function changeObjectTypeIcon(object_number, object_icon) {
		//change in Right Sidebar
		$("#object-icon-button > img").attr('src','{% static "images/object_icons/" %}' + object_icon + '.svg');
		
		//change in Object_Dict
		objects_dict[object_number]['object_icon'] = object_icon;
		
		//change on Paper
		var xhttp = new XMLHttpRequest();       
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			
				var svg_text = this.responseText.replace(/\n/g, '');
				cell = graph.getCell(object_number); 
				cell.attr('image/xlink:href', 'data:image/svg+xml;utf8,' + encodeURIComponent(svg_text));
			}
		};
		xhttp.open('GET', '{% static "images/object_icons/" %}' + object_icon + '.svg', true);
		xhttp.send();
	}	
		
		
		
		
	
	
	/*=============  'Save Changes' BUTTON  ================================================================ */	
	function saveChanges() {
		
		var attribute_id = $("#attribute_id").val();
		var name = $("#editAttributeModal #name").val();
		var description = $("#editAttributeModal #description").val();
		var expected_valid_period = $("#editAttributeModal #expected_valid_period").val();
		var first_applicable_object_type = $("#editAttributeModal #first_applicable_object_type").val();
		var type = $("#editAttributeModal #type_edit").val();
		var min = $("#editAttributeModal #min").val();
		var max = $("#editAttributeModal #max").val();
		var min_length = $("#editAttributeModal #min_length").val();
		var max_length = $("#editAttributeModal #max_length").val();
		var allowed_values = $("#editAttributeModal #allowed_values").val();
		
		message_body = {} 
		message_body['attribute_id'] = parseInt(attribute_id);
		message_body['name'] = name;
		message_body['data_type'] = type;
		message_body['description'] = description;
		message_body['expected_valid_period'] = expected_valid_period;
		message_body['first_applicable_object_type'] = first_applicable_object_type;
		message_body['format_specification'] = {}
		message_body['format_specification']['fields'] = {}
		message_body['format_specification']['fields']['column'] = {}
		message_body['format_specification']['fields']['column']['type'] = type;
		
		if (name.length < 2) {
			alert("Attribute Name too short");
			return;
		}
		
		if (expected_valid_period=="") {
			alert("Please specify an estimated valid time (from the dropdown beneath 'Description')");
			return;		
		}
		
		
		if (type == "") {
			alert("Data Type required");
			return;
		}
		
		
		if (type == "string") {
			if (isNaN(min_length) || min_length[0] == " " || min_length == ""){
				alert("Min Length - this must be populated with an integer number");
				return;
			}
			if (isNaN(max_length) || max_length[0] == " " || max_length == ""){
				alert("Max Length - this must be populated with an integer number");
				return;
			}

			min_length = parseInt(min_length);
			max_length = parseInt(max_length);
			
			if (max_length <= min_length) {
				alert("'Maximum string length' must be bigger than 'Minimum string length'");
				return;
			}
			
			message_body['format_specification']['fields']['column']['min_length'] = min_length;
			message_body['format_specification']['fields']['column']['max_length'] = max_length;
			
			if (($("#allowed-values-group").attr("style")=="display:block;") && (allowed_values_list != "")) {
				try {
					allowed_values_list  = JSON.parse(allowed_values)
					if (!Array.isArray(allowed_values_list)) {
						alert("Allowed Values - the value submitted here is not a list");
						return;
					} else {
						message_body['format_specification']['fields']['column']['allowed_values'] = allowed_values;
					}
				}
				catch(err) {
					alert("Allowed Values - the value submitted here is not a list");
					return;
				}
			}
		}
		
		if (["int", "real", "date"].includes(type)) {
			if (type == "int"){
				if(isNaN(min) || min[0] == " " || min == ""){
					alert("Min - this must be populated with an integer number");
					return;
				}
				if (isNaN(max) || max[0] == " " || max == ""){
					alert("Max - this must be populated with an integer number");
					return;
				}
				
				min = parseInt(min);
				max = parseInt(max);
				
				if (max <= min) {
					alert("Max must be bigger than Min");
					return;
				}
				
				message_body['format_specification']['fields']['column']['min'] = min;
				message_body['format_specification']['fields']['column']['max'] = max;
			}

			if (type == "real"){
				if(isNaN(min) || min[0] == " " || min == ""){
					alert("Min - this must be populated with a decimal number");
					return;
				}
				if (isNaN(max) || max[0] == " " || max == ""){
					alert("Max - this must be populated with a decimal number");
					return;
				}
				
				min = parseFloat(min);
				max = parseFloat(max);
				
				if (max <= min) {
					alert("Max must be bigger than Min");
					return;
				}
				
				message_body['format_specification']['fields']['column']['min'] = min;
				message_body['format_specification']['fields']['column']['max'] = max;
				
			}
			
		}

		var xmlhttp = new XMLHttpRequest();  
		xmlhttp.open("POST", "/tool/save_changed_attribute/");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		xmlhttp.send(JSON.stringify(message_body));
	
		// CLEAN UP -------------------------
		// empty the input fields
		$("#name").val("");
		$("#description").val("");
		$("#expected_valid_period").val("");
		$("#type_edit").val("");
		$("#edited-attribute-further-fields").html("");
		
		//close the modal
		document.getElementById("editAttributeCloseButton").click();
		
		redrawAttributeSelections();
	}
	
	
	/*=============  'Delete Attribute' BUTTON  ================================================================ */	
	function deleteAttribute() {
		var attribute_id = $("#attribute_id").val();
		
		var xmlhttp = new XMLHttpRequest();  
		xmlhttp.open("POST", "/tool/delete_attribute/");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		xmlhttp.send(JSON.stringify({'attribute_id':parseInt(attribute_id)}));
	
	}
	
	/*=============  'Cancel' BUTTON (or the X) ================================================================ */	
	function closeObjectTypeModal() {
	
		$("#editAttributeModal #name").val("");
		$("#editAttributeModal #attribute_id").val("");
		$("#editAttributeModal #description").html("");
		$("#editAttributeModal #expected_valid_period").val("");
		$("#editAttributeModal #first_applicable_object_type").val("");
		$("#editAttributeModal #type_edit").val("");		
		$("#edited-attribute-further-fields").html("");

	}
	
	
	
	/*=============  CHEDKBOX "CATEGORICAL" -> TOGGLE ALLOWED VALUES  ================================================================ */
	function toggleCategoricalField() {
		var displayed = $("#allowed-values-group").attr("style")=="display:block;";
		if (displayed) {
			$("#allowed-values-group").attr("style","display:none;");
			document.getElementById("allowed-values").disabled = true;
		} else {
			$("#allowed-values-group").attr("style","display:block;");
			document.getElementById("allowed-values").disabled = false;
		}
	
	}
	
	
	
	/*========================================================================*/
	/*============================    MAIN     ===============================*/
	/*========================================================================*/
	
	
jQuery(document).ready(function($){
    
	// activate the Object Icon Popover
	$('#object-icon-button').popover();   

	
	
    /*--------------------------------------------------*\
     * Context Menus for opening Edit Attribute Modals
    \*--------------------------------------------------*/

	
	$(document).on("focusin", "[data-object-type-id]" , function() {
		selected_object_type_id = $(this).attr("data-object-type-id");
	});
	/*
	$('[data-attribute-id]').focusin(function() {
	  selected_attribute_id = $(this).attr("data-attribute-id");
	  alert(selected_attribute_id)
	});*/

    $('html').contextMenu({
		selector: '[data-object-type-id]', 
		autoHide: 500,
        items: [
            {type: 'item', 
			 text: 'Edit Object Type',
			 click: function(e) {
				openEditObjectTypeModal(selected_object_type_id);
            }}
        ]
    });
	
    
});
</script>

