container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_migrate:
        command: 'manage.py loaddata "collection/static/webservice files/db_backup/attribute.json"'
  03_migrate:
    command: 'manage.py loaddata "collection/static/webservice files/db_backup/likelihood_fuction.json"'
  04_migrate:
    command: 'manage.py loaddata "collection/static/webservice files/db_backup/newsletter_subscriber.json"'
  05_migrate:
    command: 'manage.py loaddata "collection/static/webservice files/db_backup/object.json"'
  06_migrate:
    command: 'manage.py loaddata "collection/static/webservice files/db_backup/object_hierachy_tree_history.json"'
  07_migrate:
    command: 'manage.py loaddata "collection/static/webservice files/db_backup/object_types.json"'
  08_migrate:
    command: 'manage.py loaddata "collection/static/webservice files/db_backup/rule.json"'

#  02_delete_superuser:
#    command: "echo \"from django.contrib.auth.models import User; User.objects.get(username=admin', is_superuser=True).delete()\" | python manage.py shell"
#  03_create_superuser:
#    command: "echo \"from django.contrib.auth import get_user_model; import os; User = get_user_model(); User.objects.create_superuser('admin', 'admin@myproject.com', os.environ['SUPERUSER_PWD'])\" | python manage.py shell"


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: webservice.settings