{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151938988-1"></script>
	<script>   window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());    gtag('config', 'UA-151938988-1'); </script>



	<!--<base href="webservice-production.herokuapp.com">-->
	<!--<base href="treeofknowledge.ai">-->
	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="author" content="Benedikt Kleppmann">
	<title>Tree of Knowledge</title>
	

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />-->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/landing_page.css' %}" />
	
	
	<link rel="shortcut icon" href="{% static 'images/logo.png'%}">
	<style>
	.box {
		background-color:rgb(39, 40, 34);
	}


	.box.first {
		margin-top: -20px;
	}
	
	.container {
		width: 75% !important;
		padding-left: 35px;
	}
	
	h2 {
		padding-left: 0px;
	}

	h1 {
		margin-top: 52px;
		margin-bottom: 32px;
	}
	
	.col-md-3 {
		padding-left: 4%;
		padding-right: 4%;
	}
	
	/* Bottom  ------------------------------------------------------ */
	
	#bottom-logo {
		height: 200px;
	}
	
	
	.bottom-slogan {
		font-size: 25px;
		margin-left: 13px;
		font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
		font-weight: 700;
		margin-top: 18px;
		color: rgb(31, 31, 28);
		margin-bottom: 24px;
	}
	</style>
		


</head>


<body data-spy="scroll" data-target="#navbar" data-offset="0">


    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>

          </button>
          <a class="navbar-brand" href="{% url 'landing_page' %}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'landing_page' %}">Home</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'subscribe' %}">Info</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <div class="nav navbar-right">
			<span class="signup-text"><a id="sign-up-button" href="{% url 'registration_register' %}">Sign up</a> &nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;</span>
            <a href="{% url 'auth_login' %}" class="btn btn-default pull-right">Log in</a>
          </div>
        </div>
      </div>
    </nav>

	
	
	<section id="background-picture-outer" class="carousel">
		<div id="background-picture-inner" style="height:453px">
			<div style="background-image: url(../static/images/old_tree_dark-min-min.png);
						background-attachment: fixed;
						background-size: 100%;
						background-repeat: no-repeat;
						padding: 200px 0;
						background-position: 35% 0%;
						position: absolute;
						top:54px;
						width:100%;
						z-index:-1;">
			</div>
		</div>
	</section>

	

	<div class="container-fluid" style="background-color: rgb(122, 81, 56);">
		<div class="teaser-text">
			<h1>Our Mission</h1>
			---&nbsp;&nbsp; We hope to one day transform public policy making into a science &nbsp;&nbsp;---<br>
			<br>

			We are concerned about the long term well-being of the planet and its inhabitants and we strongly believe that the decisions that shape this world should be based on real facts and transparency instead of rhetoric and feelings. <br>
			<!--
			We are concerned about issues like global warming, natural habitat loss and social justice. 
			But, more importantly, we believe that disscussions about such important issues should be based on real facts and complete transparency instead of rethorics and feelings. <br>
			-->
			<br>
			Public policies are chosen on the basis of their predicted effects.
			In this complex world it is impossible to make any 100% accurate predictions, but it <i>is</i> possible to make predictions that are as <i>good as theoretically possible</i> 
			
			<!--The real world is extremely complex and it is impossible to make 100% accurate predictions, but it <i>is</i> possible to make predictions that are as <i>good as theoretically possible</i> -->
			i.e. predictions that take into account all existing knowledge and exactly quantify all uncertainties. If used correctly, Tree of Knowledge does exactly this (whereby it only takes into account the specific factual knowledge which users have entered).<br>
			Tree of Knowledge's goal is to empower politicians to exactly model and compare the effect of different policies. We want to give them the power to create undeniable arguments: if anybody disagrees with the predictions made by the Tree of Knowledge and they have additional facts/data, they can add them to the model and observe the changes. 
			If they don't have any additional facts/data, they are not presenting a valid argument.
			
			<!--
			The mission of the Tree of Knowledge is to create the best possible models of the economy/society 
			and to empower NGOs 
			enable more transparency political decision making
			
			The mission of the Tree of Knowledge is to enable truly fact-based decision making to be applied to the world’s most pressing problems 
			and thereby minimizing the role of rhetoric, prejudice and misinformation. 
			We believe that objective solutions to these problems in the environment and society can only be found by creating accurate models of the world 
			that reflect the true complexity and uncertainty of the world!<br>
			<p>For this goal we are building a novel and very powerful simulation-modelling environment.</p>
			-->
			<br>
			<br>		
			<br>
			<br>		
		</div>
	</div>
	
	

	<div class="container" style="background:rgb(66, 67, 62)"><!-- rgb(51, 51, 39)-->
		<br>
		<h1>Functionality<!--Capabilities of the tool--></h1>
		<div class="lead left-aligned" style="text-align: left;">	
			To find out about Tree of Knowledge's functionality we suggest signing up (top right of this screen) and trying it out.
			It is free for everyone to use. The user accounts are only for personalisation and to identify users who are being actively harmful to the holistic model.<br><br>
			Anyway, here is what you can do with Tree of Knowledge:
			<br>
			<br>
			<div class="row" style="display:flex; align-items:center;">
				<div class="col-md-9">
					<p class="lead left-aligned">	
					
						<h2 class="yellowish">Model your system</h2>
						Whether you are interested in international trade, a country's macroeconomic developments or consumer behaviour&nbsp;-&nbsp;whatever your system of interest&nbsp;&nbsp;-&nbsp;you can model your system in less than 10 minutes.
						
						All you need to do is set the scene i.e. through drag&amp;dropping, specify the agents/actors of the system and how they relate and press 'play' to observe the system unfold.
						To improve the model, you can easily change the agents' initial values and the default behaviour, which the system provided.
			
			
						<h2 class="yellowish">Evaluate models</h2>
						If you upload data relating to your system to the knowledge base, Tree of Knowledge will automatically use this data to score the simulation, set the initial values of the agents to those of your system and refine the simulation rules.
						

						<h2 class="yellowish">Understand your system</h2>
						In the analysis environment you can gain a full understanding of your system by watching the simulations unfold. 
						You can inspect any aspect of the simulations. <!--For simulations with many agents, you can e.g. create summary statistics and follow their evolution.--><br>
						
						
						<h2 class="yellowish">Test hypotheses</h2>
						To check whether a relation or causal dependency holds, you only have to formulate it as a new rule. The system automatically learns with what probability this new rule holds.
						
						<h2 class="yellowish">Make predictions</h2>
						To see what the future will look like, you only need to run the simulation. Due to the Bayesian probability distributions and Monte-Carlo simulations, there are accurate error-margins for all predictions.
						
						<h2 class="yellowish">Simulate new scenarios</h2>
						You can easily simulate new scenarios, by changing some of the initial values e.g. a tax rate or the price of a product.
						
						<h2 class="yellowish">Find optimum strategies</h2>
						This has not been implemented yet, but in future you will be able to e.g. determine the best tax rate or price of a product. For this you have to specify what you want to optimize for and 
						the system learns which tax rate/product price optimizes this metric.			
					</p>
				</div>
				<div class="col-md-3">
					<br>
					<br>
					<br>
					<a href="{% static 'images/tree_of_knowledge_schematic.png'%}"><img id="object_hierachy-image" src="{% static 'images/tree_of_knowledge_schematic.png'%}" class="img-responsive mr-3 img-thumbnail"></a><br>
					The Tree of Knowledge grows as more datasets are added to the knowledge base and as more behaviours are modelled and evaluated.
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<img id="bottom-logo" src="{% static 'images/logo_gray2.png'%}" >
		<br>
		<div class="bottom-slogan">
			Revolutionize Social Sciences
		</div>
		<br>
	</div>
	<br>

	
	
	
	<!--
	<section id="about_simulation_based_modelling">
		<div class="container">
			<p class="lead left-aligned" >	
				We are in the age of machine learning. Machine learning models are changing the world. 
				Their accurate predictions allow for the automation of many new tasks. <br><br>
				You don't however want to automate decision making. Instead you’d want 
				to inform decision making with insights gained from data. Due to their 
				black-box nature, it is not possible to gain insight with machine learning models. 
				Statistical models and traditional-AI models are also not ideal. <br><br>
				Simulation models on the other hand are ideally suited for gaining insights from data. 
				The goal here is to create a virtual twin of any real system. I.e. you create a simulation 
				which behaves in the exact same way as the real world. These models are therefore very intuitive. 
				You can watch the behavior of the system, understand the mechanisms and identify key components. 
				You can also investigate what-if questions by re-running the simulation with some detail changed.
			</p>

		</div>
	</section>
	
	
	
	<section id="introduction">
		<div class="container">
			<div class="box first">
				<div class="lead left-aligned">
					<br><p style="color:black; font-weight: 500; text-align:center">Tree of Knowledge is an open source project which started in November 2018. <br>This page describes the aspired future state of the project.</p><br><br>
					<p>Do you want to gain insights from data? <br></p>
					<ul>
						<li>Test theories about your system </li>
						<li>See the system unfold in real time, understand the mechanisms and driving forces</li>
						<li>Evaluate what-if scenarios</li>
					</ul><br>
					<p>Use the most accurate and powerful data analysis tool in the world!<br></p>
					<ul>
						<li>Build upon a vast range of existing, proven models</li>
						<li>Models are automatically evaluated and optimized with millions of data points from a custom data portal</li>
						<li>Collaborate with other people</li>
					</ul>
			  </div>
			</div>
		</div>
	</section>

	
	<section id="about_simulation_based_modelling">
		<div class="container">
			<div class="box">
				<div class="center">
					<h2>About simulation-based modelling</h2>
				</div>
				<div class="row" style="display:flex; align-items:center;">
					<div class="col-md-9">
						<p class="lead left-aligned">	
							We are in the age of machine learning. Machine learning models are changing the world. 
							Their accurate predictions allow for the automation of many new tasks. <br><br>
							You don't however want to automate decision making. Instead you’d want 
							to inform decision making with insights gained from data. Due to their 
							black-box nature, it is not possible to gain insight with machine learning models. 
							Statistical models and traditional-AI models are also not ideal. <br><br>
							Simulation models on the other hand are ideally suited for gaining insights from data. 
							The goal here is to create a virtual twin of any real system. I.e. you create a simulation 
							which behaves in the exact same way as the real world. These models are therefore very intuitive. 
							You can watch the behavior of the system, understand the mechanisms and identify key components. 
							You can also investigate what-if questions by re-running the simulation with some detail changed.
						</p>
					</div>
					<div class="col-md-3">
						<a href="{% static 'images/simio.png'%}"><img src="{% static 'images/simio.png'%}" class="img-responsive mr-3 img-thumbnail"></a>
						<a href="{% static 'images/sim_city.jpg'%}"><img src="{% static 'images/sim_city.jpg'%}" class="img-responsive mr-3 img-thumbnail"></a>
						<div style="margin-left:10px">top: Simio<br>bottom: Simcity</div>
					</div>
				</div>
			  </div>
			</div>
		</div>
	</section>

	
		
	
	<section id="about_tree_of_knowledge">
		<div class="container h-100">
			<div class="box">
				<div class="center">
					<h2 align="center">About Tree of Knowledge</h2><br>
				</div>
				<div class="row" style="display:flex; align-items:center;">
					<div class="col-md-3">
							<img src="{% static 'images/tree_of_knowledge_schematic.png'%}" class="img-responsive mr-2 img-thumbnail">
							<div style="margin-left:10px; margin-right:10px">Uploaded data is integrated into a global schema and is used for model training & evaluation. The simulation models can build uppon each other.</div>
					</div>
					<div class="col-md-9">
						<div class="lead left-aligned">
							There already exist a range of simulation modelling tools (
								<a href="https://www.anylogic.com/" target="_blank">Anylogic</a>, 
								<a href="https://www.simio.com/index.php" target="_blank">Simio</a>, 
								<a href="https://en.wikipedia.org/wiki/List_of_computer_simulation_software" target="_blank">etc.</a>). 
							They are commonly used for optimizing processes in a range of fields such as manufacturing plants, 
							hospitals, etc. They haven’t however caught on in many other fields, I believe there are two reasons for this: <br>
							<ul>
								<li>the correctness of the models is not guaranteed, as they are often not thoroughly evaluated</li>
								<li>it takes a long time to create a model</li>
							</ul><br>
							Tree of Knowledge solves these problems. In fact, Tree of Knowledge’s ability to solve these problems increases over time….
							<ul>
								<li>data which is uploaded with a free account is added to an integrated data repository. This well 
									documented data is then used to automatically evaluate simulation models, guaranteeing its correctness.</li>
								<li>Objects’ behaviours that have been proven to apply in some model are remembered and tested in future models. 
									Making it possible to only describe the objects in the system and having the objects’ behaviours automatically 
									inferred, thereby drastically reducing the development time.</li>
							</ul><br>
							This is all possible due to the nature of Tree of Knowledge, which is not only a simulation tool, but also a universal 
							knowledge repository. Over time it builds up a complete understanding of the objects in this world, their relations, 
							behaviours and their states at different times in the past.<br><br>
							Additionally, Tree of Knowledge allows for the easy use of fairly advanced functionality, such as: 
							<ul>
								<li>Optimizing systems to maximize KPIs</li>
								<li>Learning model parameters with Bayesian inference</li>
								<li>Flexible and powerful simulation visualization</li>
								<li>Collaborative model creation</li>
							</ul>
						</div>
					</div>
			</div>
		</div>
	</section>

	
	
	
	
	<section id="our_philosophy">
		<div class="container">
			<div class="box last">
				<div class="center">
					<h2>Our Philiosophy</h2>
					<p class="lead left-aligned">
						As mentioned, by being used, Tree of Knowledge automatically builds up an increasing knowledge of the objects in the world, 
						their behavior and their past states. The long-term goal of Tree of Knowledge is to become a repository of the worlds’ knowledge. 
						Making the knowledge accessible in a computer-readable and highly useable form. <br>
						There will always be free public APIs for accessing its data and simulation rules.<br><br>
						Tree of Knowledge is non-profit and is dedicated to improving the world as much as possible -  NGOs and well-meaning 
						governments will always have free access. The access for harmful companies is restricted.
						<br><br><br>
					</p>
			  </div>
			</div>
		</div>
	</section>
-->
	
	
	
	<!--
  	<section id="resources">
		<div class="container">
			<div class="box">
				<div class="center">
					<br><h1 class="yellowish">Resources</h1><br>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="center">
							<a href="https://github.com/BenediktKleppmann/TreeOfKnowledge" target="_blank">
								<i class="fab fa-github icon-md icon-color2"></i>
							</a>
							<h4>GitHub repository</h4>
							<p>The official GitHub repository for this open source project.</p>
						</div>
					</div>					
					<div class="col-md-4">
						<div class="center">
							<a href="https://www.youtube.com" target="_blank">
								<i class="fab fa-youtube icon-md icon-color1"></i>
							</a>
							<h4>Video tutorials</h4>
							<p>None exist yet.</p>
						</div>
					</div>				
					<div class="col-md-4">
						<div class="center">
							<a href="{% url 'contact' %}" target="_blank">
							
								<i class="icon-md icon-color3"><img src="{% static 'images/email_icon.png'%}" style="height:28px;width:28px; margin-bottom:4px"></i>
								
							</a>
							<h4>Contact</h4>
							<p>Contact details and impressum.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>
		</div>

	</section>
	-->
	
		
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	 <script>
	  $('.carousel').carousel({
	   interval: 3000
	  });
	 </script>  
	 

</body>
</html>