{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<!--<base href="webservice-production.herokuapp.com">-->
	<!--<base href="treeofknowledge.ai">-->
	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="author" content="Benedikt Kleppmann">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tree of Knowledge</title>
	

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/landing_page.css' %}" />
	

	<!--
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/subscriber_page.css' %}" />-->
	
	
	<link rel="shortcut icon" href="{% static 'images/logo_with_background.png'%}">

		
		<!-- added for submenu -->

	<style>
	
		/* carousel ------------------------------------------------------ */
		.carousel-indicators {
			top: 620px;
			left: 200px;
		}
		
		.carousel-image {
			height: 600px !important;
			width: auto !important;
			float: right;
		}
		
		.carousel-title {
			font-size: 40px !important;
			margin-top: 100px;
			margin-left: 20px;
		}
		
		/* top 4 arguments ------------------------------------------------------ */
		.top-4-argument-row {
			padding: 35px 2%;
		}
		
		.col-sm-6 {
			padding: 15px 39px;
		}
		
		.top-4-argument-title {
			font-size: 34px;
			font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			color:rgb(255, 242, 204);
		}
		
		
		.top-4-argument-text {
		
		}
		

		
	</style>

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <!--<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
          </button>
          <a class="navbar-brand" href="{% url 'landing_page' %}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'landing_page' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'subscribe' %}">Info</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <div class="nav navbar-right">
			<span class="signup-text"><a href="{% url 'registration_register' %}">Sign up</a> &nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;</span>
            <a href="{% url 'auth_login' %}" class="btn btn-default pull-right">Log in</a>
          </div>
        </div>
      </div>
    </nav>
	
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		  <li data-target="#myCarousel" data-slide-to="3"></li>
		  <li data-target="#myCarousel" data-slide-to="4"></li>
		  <li data-target="#myCarousel" data-slide-to="5"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="row row-eq-height">
					<div class="col-sm-6 carousel-text-field ">
						<h1>Tree of Knowledge</h1>
						the world’s most accurate and insightful<br>data mining tool<br><br><br>
						<a class="btn btn-lg btn-success" href="../../components/#navbar" role="button">Sign up for free</a><br>
					</div>
					<div class="col-sm-6" style="margin-top:55px;">
						<img class="carousel-image" src="{% static 'images/logo_collage.png'%}" alt="collage of machine learning- and statistics- tool logos"  style="width:100%; height:100%;">
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row row-eq-height">
					<div class="col-sm-3 carousel-text-field ">
						<h1 class="carousel-title"> Complex interaction modelling</h2>
					</div>
					<div class="col-sm-9" style="margin-top:55px;">
						<img class="carousel-image" src="{% static 'images/Screenshot1.png'%}" alt="screenshot of edit simulation screen"  style="width:100%; height:100%;">
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row row-eq-height">
					<div class="col-sm-3 carousel-text-field ">
						<h1 class="carousel-title"> Bayesian Inference</h1>
					</div>
					<div class="col-sm-9" style="margin-top:55px;">
						<img class="carousel-image" src="{% static 'images/Screenshot5.png'%}" alt="screenshot of analyse simulation screen"  style="width:100%; height:100%;">
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row row-eq-height">
					<div class="col-sm-3 carousel-text-field ">
						<h1 class="carousel-title"> Exact model evaluation</h1>
					</div>
					<div class="col-sm-9" style="margin-top:55px;">
						<img class="carousel-image" src="{% static 'images/Screenshot2.png'%}" alt="screenshot of analyse simulation screen"  style="width:100%; height:100%;">
					</div>
				</div>
			</div>
			
			<div class="item">
				<div class="row row-eq-height">
					<div class="col-sm-3 carousel-text-field ">
						<h1 class="carousel-title"> Sophisticated model integration</h1>
					</div>
					<div class="col-sm-9" style="margin-top:55px;">
						<img class="carousel-image" src="{% static 'images/Screenshot3.png'%}" alt="screenshot of analyse simulation screen"  style="width:100%; height:100%;">
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row row-eq-height">
					<div class="col-sm-3 carousel-text-field ">
						<h1 class="carousel-title"> Advanced data portal </h1>
					</div>
					<div class="col-sm-9" style="margin-top:55px;">
						<img class="carousel-image" src="{% static 'images/Screenshot4.png'%}" alt="screenshot of analyse simulation screen"  style="width:100%; height:100%;">
					</div>
				</div>
			</div>
	<!--<div class="item">
			<div class="row row-eq-height">
				<div class="col-sm-6 carousel-text-field ">
					<h1>Tree of Knowledge<h1>
					the world’s most accurate and insightful data mining tool
				</div>
				<div class="col-sm-6">
					<img src="{% static 'images/sim_city.jpg'%}" alt="Los Angeles" style="width:100%; height:550px">
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row row-eq-height">
				<div class="col-sm-6 carousel-text-field ">
					<h1>Tree of Knowledge<h1>
					the world’s most accurate and insightful data mining tool
				</div>
				<div class="col-sm-6">
					<img src="{% static 'images/sim_city.jpg'%}" alt="Los Angeles" style="width:100%; height:550px">
				</div>
			</div>
		</div>
		
		<a class="prev" href="#myCarousel" data-slide="prev">
			<i class="fa fa-chevron-left"></i>
		</a> 
		<a class="next" href="#myCarousel"
			data-slide="next"><i class="fa fa-chevron-right"></i>
		</a>
		 -->
			
	</div>
	
	<div class="container-fluid" style="background-color: rgb(61, 58, 55);">
	<!--rgb(130, 99, 74), rgb(66, 62, 57) , rgb(89, 81, 74) , rgb(112, 96, 83), rgb(142, 112, 87)-->
		<div class="row row-eq-height top-4-argument-row"  style="padding-bottom:10px;">
			<div class="col-sm-6">
				<div class="top-4-argument-title">Don't model an individual dataset,<br>model the world!</div>
		
				<div class="top-4-argument-text">
					All existing Statistics- and Machine Learning- models are trained on an individual dataset. They don't learn general patterns, but only those occuring in this dataset.
					The Tree of Knowledge models are however trained on many different datasets with observations from many different scenarios. 
					The findings from Tree of Knowledge are therefore generally valid and many orders of magnitude more accurate and robust.</div>
				</div>
				<!--
				<div class="top-4-argument-title">Don't model an individual dataset,<br>model the world!</div>
				<div class="top-4-argument-text">
				All existing Statistics- and Machine Learning- models are trained on a single dataset which was captured in one specific setting. 
				The Tree of Knowledge models are however trained on many different datasets. 
				The findings from Tree of Knowledge are therefore many orders of magnitude more accurate and robust.</div>
			-->
			<div class="col-sm-6">
				<div class="top-4-argument-title">Don't just make predictions,<br>fully understand the system!</div>
				<div class="top-4-argument-text">At the core of Tree of Knowledge lies a Probabilistic Programming engine. This allows the user to easily understand and model complex behaviours, even if they are only indirectly observed.</div>
			</div>	
		</div>
		<div class="row row-eq-height top-4-argument-row" style="padding-top:6px;padding-bottom: 44px;">
			<div class="col-sm-6">
				<div class="top-4-argument-title">Be certain about uncertainty!</div>
				<div class="top-4-argument-text">Due to bayesian inference and monte-carlo simulations, the uncertainties of the system are accurately captured and modelled. The error-margins of the simulations exactly reflect the true uncertainty of the system.</div>
			</div>
			<div class="col-sm-6">
				<div class="top-4-argument-title">Be part of something great!</div>
				<div class="top-4-argument-text">By modelling your dataset in your specific domain you are automatically building uppon and contributing to a powerful holistic model of the world. This model will one day be able to accurately simulate all interactions in an economy.
				</div>
			</div>
			
		</div>
					
	</div>
	
	
		
	<div class="container-fluid" style="background:rgb(39, 40, 34)">
		<br><br>
		<h1 class="yellowish">How it works</h1><br>
		
		
		<h2 class="yellowish">Hierachy of Objects</h2>
		At the core of the holistic model lies a hierachy of objects - see figure 1.
		
		The objects in this hierachy have a set inherited or own of behaviours. 
		To model/simulate a system you use these objects and, if necessary, add additional specific behaviours to them.
		
		The simulations are automatically verified with data from the knowledge base - the simulation results must match the real observations of the system. 
		
		
		<h2 class="yellowish">Learning Behaviours</h2>
		Behaviour rules are learned the same way. For each simulation in which a certain object occurs, the system automatically checks which combination of the object's rules produce the most correct simulations. 
		Rules that improve the results of many different simulations are considered to be more correct than rules that worsen the results. 
		All this is done within the rigorous formalism of likelyhood-free bayesian inference, the learned probability distributions
		
		
		Similarly, the rules are learned 

		Data from the modelled system
		r
		Simultaneously 
		The information
		
		models a system she/he 
		
		When a user 
		
		
		When a user models the behaviour of a specific objects, 
		these behaviours get added to the object types, considering the environment of the objects. 
		
		Whenever similar 
		
		
		
		Any data uploaded is integrated into a knowledge base 
		Behaviour rules and data are both saved to these objects. 
		
		
		framework of objects 
		
		you are creating simulation rules 
		
		<h2 class="yellowish">Integrated data repository</h2>

		Data from any source that is uploaded to this online platform and is mapped to the holistic data model. The holistic data model contains all the data and meta-data to exactly specify any data value. <br>
		<br>
	</div>






	
	
	<div class="container-fluid" style="background:rgb(39, 40, 34)">
		<br><br>
		<h1 class="yellowish">Key Components</h1><br>
		<div class="row key-components">
			<div class="col-md-6">
				<div>
					<span class="icon-frame yellowish" style="float:left;";>
						<img src="{% static 'images/data_integration_icon.png'%}" style="height:36px;width:36px; margin-bottom:3px">
					</span>
					<h2 class="yellowish">Integrated data repository</h2>
				</div>
				Data from any source that is uploaded to this online platform and is mapped to the holistic data model. The holistic data model contains all the data and meta-data to exactly specify any data value. <br>
				<br>
			</div>
			<div class="col-md-6">
				<div>
					<span class="icon-frame yellowish" style="float:left;padding-top:3px;";>
						<i class="fas fa-cogs" aria-hidden="true"></i>
					</span>
					<h2 class="yellowish">Simulation models</h2>
				</div>
				For modelling real-world processes, simulation models are more accurate and insightful than all models from machine learning, statistics, traditional AI and other sciences. Especially when paired with the automatic model evaluation.<br>
				<br>
			</div>
		</div>
		<div class="row key-components">
			<div class="col-md-6">
				<div>
					<span class="icon-frame yellowish" style="float:left; padding-top:2px; padding-left:8px;";>
						<i class="fas fa-check"></i>
					</span>
					<h2 class="yellowish">Automated model evaluation</h2>
				</div>
				As the simulations use the same objects, attributes and scenario descriptions (meta-data) as the integrated data repository. This enables the automatic cross-validation and scoring of models.<br>
				<br>
			</div>
			<div class="col-md-6">
				<div>
					<span class="icon-frame yellowish" style="float:left;padding-top:3px;";>
						<i class="fas fa-handshake"></i>
					</span>
					<h2 class="yellowish">Collaborative model building</h2>
				</div>
				The automated model evaluation allows for collaborative model building. People can work together to build the most accurate models.<br>
				<br>
			</div>
		</div>
		<div class="row key-components">
			<div class="col-md-6">
				<div>
					<span class="icon-frame yellowish" style="float:left; padding-top:2px;";>
						<i class="fas fa-signal" style="margin-left:-2px"></i>
					</span>
					<h2 class="yellowish">Compounding Simulations</h2>
				</div>
				Model building is facilitated not only by the possibility to modify existing models, there platform also automatically suggests behavior rules for the objects in your simulation.<br>
				The different behavior-rules from objects are collected from across different simulations. The accuracy of these behaviours are automatically evaluated with the data from all the real-world systems that contain these objects.<br>
				<br>
			</div>
			<div class="col-md-6">
				<div>
					<span class="icon-frame yellowish" style="float:left; font-size: 38px; padding-left:5px";>
						<i class="far fa-chart-bar"></i>
					</span>
					<h2 class="yellowish">Powerful analysis environment</h2>
				</div>
				The analysis environment allows users to 
				<ul>
					<li>ask What-if questions by modifying initial conditions</li>
					<li>optimize simulation parameters to e.g. maximize KPIs</li>
					<li>gain an intuitive understanding through the powerful visualization functionality</li>
				</li><br>
				<br>
			</div>
		</div>
		<br>
		<br>
	</div>

  	<section id="resources">
		<div class="container">
			<div class="box">
				<div class="center">
					<br><h1 class="yellowish">Resources</h1><br>
				</div>
				<!--  /.center -->
				<div class="row">
					<div class="col-md-4">
						<div class="center">
							<a href="https://github.com/BenediktKleppmann/TreeOfKnowledge" target="_blank">
								<i class="fab fa-github icon-md icon-color2"></i>
							</a>
							<h4>GitHub repository</h4>
							<p>The official GitHub repository for this open source project.</p>
						</div>
					</div>
					<!--/.col-md-4-->
					
					<div class="col-md-4">
						<div class="center">
							<a href="https://www.youtube.com" target="_blank">
								<i class="fab fa-youtube icon-md icon-color1"></i>
							</a>
							<h4>Video tutorials</h4>
							<p>None exist yet.</p>
						</div>
					</div>
					<!--/.col-md-4-->
					
					<div class="col-md-4">
						<div class="center">
							<a href="{% url 'contact' %}" target="_blank">
							
								<i class="icon-md icon-color3"><img src="{% static 'images/email_icon.png'%}" style="height:28px;width:28px; margin-bottom:4px"></i>
								
							</a>
							<h4>Contact</h4>
							<p>Contact details and impressum.</p>
						</div>
					</div>
					<!--/.col-md-4-->
				</div>
				<!--/.row-->
				<br><br><br>
			</div>
			<!--/.box-->
		</div>
		<!--/.container-->
	</section>
	<!--/#services-->
	
	<footer id="footer">
		<div class="container">
			<div class="row center">
				<div class="col-sm-12">
					The software is licensed under a <a href="https://en.wikipedia.org/wiki/Affero_General_Public_License">AGPL Licence</a> 
				</div>
			</div>
		</div>
	</footer>
	<!--/#footer-->
  
	
	

</body>
</html>