{% extends 'layouts/base_tool.html' %}

{% block title %}
	Tree of Knowledge - Your Simulations
{% endblock %}

{% block additionalcss %}
<style>

	
	

</style>
{% endblock %}

{% block content %}
	<br>
			<div class="existing-simulations-title">
				Your Simulations:
			</div>
			<ul>
				{% for simulation in simulation_models %}
					<li><a class="existing-simulation-link" href="{% url 'edit_simulation' simulation_id=simulation.id %}">Simulation {{ simulation.id }}</a></li>
				{% endfor %}
			</ul>

	
		
{% endblock %}



