{% extends 'layouts/base_tool.html' %}'
{% load staticfiles %}

{% block title %}
	Tree of Knowledge - Main Menu
{% endblock %}

{% block additionalcss %}
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-3.4.0.min.css' %}" />
	
<style>


	.content {
		padding: 0px;
	}

	/* --------------------------------------------------------------------------*/
	/* Panels -------------------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/
	.left-panel {
		float:left;
		display: inline-block;
		width: 256px;
		height:calc(100vh - 59px);
		background: rgb(226, 226, 226);
	}
	
	/* Right */
	.right-panel-container {
		display: inline-block;
		display: flex;
		flex-direction: column;
		border: 1px solid silver;
		overflow: hidden;
		xtouch-action: none; /* avoid browser level touch actions */
		height:calc(100vh - 59px);
	}

	#top-panel {
	  flex: 0 0 auto;  /* only manually resize */
	  height: 55%;
	  min-height: 150px;
	  width: 100%;
	  //white-space: nowrap;
	}

	#splitter {
	  flex: 0 0 auto;
	  height: 4px;  
	  background: rgb(225, 225, 225);
	  border: 1px solid rgb(200, 200, 200);
	  cursor: row-resize; 
	  box-shadow: 3px  0 6px 0 rgba(0, 0, 0, 0.19);
	  z-index: 1;
	}

	#bottom-panel {
	  flex: 1 1 auto;   /* resizable */
	  padding-right: 10px;
	  min-height: 200px;
	  width: 100%;
	  height: 100%;
	  overflow-x: scroll;
	  background: rgb(255,255,255);
	}
	
	/* Top Right */
	
	.top-right-panel-container {
		height: 100%;
		display: inline-block;
		display: flex;
		flex-direction: column;
		border: 1px solid silver;
		overflow: hidden;
		xtouch-action: none; /* avoid browser level touch actions */
		height:calc(100vh - 59px);
	}


					
	/* --------------------------------------------------------------------------*/
	/* Left Panel ---------------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/
	
	.simulation-selection-area {
	    margin-top: 34px;
		margin-left: 15px;
		width: 217px;
	}
	
	
	#initial-state-simulation-selection-buttons {
		margin-top: 26px;
		max-height: 132px;
		overflow-y: auto;
	}
	
	#individual-simulation-selection-buttons {
		margin-top: 26px;
		max-height: calc(100vh - 400px);
		overflow-y: auto;
	}
	
	.simulation-selection-button {
		width: 100%;
		background: rgb(248, 248, 248);
		border: 1px solid rgb(210, 210, 210);
	}
	
	.simulation-selection-button.active {
		background: rgb(219, 219, 219)
	}
	
	/* --------------------------------------------------------------------------*/
	/* Bottom Panel -------------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/

	#bottom-object-items {
		list-style-type: none;
		padding-inline-start: 0px;
		margin: 23px;
	}
 
	#bottom-object-items li {
		float: left;
	}
	
	.bottom-object-outer-box {
		background: rgb(220, 227, 250);
		padding-left: 4px;
		border: 1px solid rgb(100, 100, 100);
		padding-top: 3px;
	}
	
	.bottom-object-icon {
	    height: 17px;
		float: left;
		margin-top: 2px;
		margin-right: 10px;
		margin-left: 1px;
	}
	
	.collapse-triangle {
		font-size: 9px;
		padding: 6px;
		padding-left: 7px;
	}
	
	.bottom-object-inner-box {
	    margin-left: 10px;
		margin-top: 3px;
		background: rgb(255,255,255);
		border-top: 1px solid rgb(100,100,100);
		border-left: 1px solid rgb(100,100,100);
		overflow: hidden;
	}
	
	.bottom-object-data-row {
		border-bottom: 1px solid rgb(190, 190, 190);
		display: block;
	}
	
	.bottom-attribute-name {
		display: inline-block;
		padding: 1px 5px 1px 5px;
		background: rgb(242, 242, 242);
		height: 100%;
		border-right: 1px solid rgb(190, 190, 190);
		border-bottom: 1px solid rgb(190, 190, 190);
		width: 175px;
	}
	
	.bottom-attribute-values {
		display: inline-block;	
	}
	
	.attribute-value {
		width: 55px;
		display: inline-block;
		text-align: center;
		border-right: 1px solid rgb(190, 190, 190);
		padding: 1px 0px 1px 0px;
		color: rgb(95, 95, 95);
	}
	
	
	/* --------------------------------------------------------------------------*/
	/* Top Panel ----------------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/
	
	#graph-panel {
	  	height: calc(100% - 45px);
		width: 100%;
	}
	

	
	#top-menu-bar {
		height: 45px;
		width: 100%;
		background: rgb(226, 226, 226);
		border-top: 1px solid rgb(202,202,202); 
		position: relative;
	}	

	#vertically-centered {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 100%;
	}

	#inlude-zero-menu {
		display: inline-block;
		margin-left: 25px;
		margin-right: 15px;
		margin-top: 8px;
	}
	
	.menu-bar-error-message {
		display: inline-block;
		margin-left: 25px;
	}
	
	#show-rules-button {
	    background: rgb(248, 248, 248);
		border: 1px solid rgb(210, 210, 210);
		margin-left: 14px;
		margin-top: 1px;
	}
	
	#run-button {
		margin-right: 11px;
		margin-top: 1px;
	}
	
	/* --------------------------------------------------------------------------*/
	/* Top Panel - RULES --------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/
	
	.triggered.color0 { background: #22B0BE;}
	.triggered.color1 { background: #229CBD;}
	.triggered.color2 { background: #2288BD;}
	.triggered.color3 { background: #2274BD;}
	.triggered.color4 { background: #2260BD;}
	.triggered.color5 { background: #214CBD;}
	.triggered.color6 { background: #2138BC;}
	.triggered.color7 { background: #2124BC;}
	.triggered.color8 { background: #3221BC;}
	.triggered.color9 { background: #4621BC;}
	.triggered.color10 { background: #5A20BC;}
	.triggered.color11 { background: #6D20BC;}
	.triggered.color12 { background: #8120BB;}
	.triggered.color13 { background: #9520BB;}
	.triggered.color14 { background: #A920BB;}
	.triggered.color15 { background: #BB1FB9;}
	.triggered.color16 { background: #BB1FA5;}
	.triggered.color17 { background: #BB1F91;}
	.triggered.color18 { background: #BA1F7D;}
	.triggered.color19 { background: #BA1F69;}
	.triggered.color20 { background: #BA1E55;}
	.triggered.color21 { background: #BA1E40;}
	.triggered.color22 { background: #BA1E2C;}
	.triggered.color23 { background: #BA241E;}
	.triggered.color24 { background: #B9371E;}
	.triggered.color25 { background: #B94B1D;}
	.triggered.color26 { background: #B95F1D;}
	.triggered.color27 { background: #B9731D;}
	.triggered.color28 { background: #B9871D;}
	.triggered.color29 { background: #B99A1C;}
	.not-triggered.color0 { background: #B9D7DA;}
	.not-triggered.color1 { background: #B9D2DA;}
	.not-triggered.color2 { background: #B9CEDA;}
	.not-triggered.color3 { background: #B9CADA;}
	.not-triggered.color4 { background: #B9C6DA;}
	.not-triggered.color5 { background: #BAC2DA;}
	.not-triggered.color6 { background: #BABEDA;}
	.not-triggered.color7 { background: #BABADA;}
	.not-triggered.color8 { background: #BEBADA;}
	.not-triggered.color9 { background: #C3BBDA;}
	.not-triggered.color10 { background: #C7BBDB;}
	.not-triggered.color11 { background: #CBBBDB;}
	.not-triggered.color12 { background: #CFBBDB;}
	.not-triggered.color13 { background: #D4BCDB;}
	.not-triggered.color14 { background: #D8BCDB;}
	.not-triggered.color15 { background: #DBBCDA;}
	.not-triggered.color16 { background: #DBBCD6;}
	.not-triggered.color17 { background: #DBBDD3;}
	.not-triggered.color18 { background: #DBBDCF;}
	.not-triggered.color19 { background: #DBBDCB;}
	.not-triggered.color20 { background: #DCBDC7;}
	.not-triggered.color21 { background: #DCBEC4;}
	.not-triggered.color22 { background: #DCBEC0;}
	.not-triggered.color23 { background: #DCC0BE;}
	.not-triggered.color24 { background: #DCC4BE;}
	.not-triggered.color25 { background: #DCC8BF;}
	.not-triggered.color26 { background: #DCCCBF;}
	.not-triggered.color27 { background: #DCD0BF;}
	.not-triggered.color28 { background: #DCD4BF;}
	.not-triggered.color29 { background: #DDD8C0;}

	
	
	#triggerd-rules-panel {
		height: 0px;
		padding-left: 63px;
		padding-right: 18px;
	}
	
	.triggerd-rules-period {
		padding: 0px 5px;
	}
	
	.triggerd-rule {
		padding-top: 2px;
		border: 1px solid rgb(210, 210, 210);
	}
	
	


</style>	



{% endblock %}	

{% block content %}
<div class="left-panel">
	<div class="simulation-selection-area">
		<div class="simulation-selection-box">
			<button id="all-simulations-button" class="btn btn-light simulation-selection-button" type="button" onclick="selectAllSimulations()">All Simulations</button>
			<button id="correct-simulations-button" class="btn btn-light simulation-selection-button" type="button" onclick="selectCorrectSimulations()">Correct Simulations</button>
			<button id="false-simulations-button" class="btn btn-light simulation-selection-button" type="button" onclick="selectFalseSimulations()">False Simulations</button>
		</div>
		<div id="initial-state-simulation-selection-buttons" class="simulation-selection-box"></div>
		<div id="individual-simulation-selection-buttons" class="simulation-selection-box"></div>
	</div>
</div>
<div class="right-panel-container">
	<div id="top-panel"></div>
	<div id="splitter"></div>
	<div id="bottom-panel">	
		<ul id="bottom-object-items"></ul>
	</div>
</div>



		
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-gantt.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
 

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>


 
<script type="text/javascript">
	// GLOBAL VARIABLES:
	objects_dict = {{ simulation_model.objects_dict|safe }};
	just_learned_rules = {{ simulation_model.just_learned_rules|safe }};
	rule_infos = {{ simulation_model.rule_infos|safe }};
	triggered_rules = {{ simulation_model.triggered_rules|safe }};
	simulation_data = {{ simulation_model.simulation_data|safe }};
	errors = {{ simulation_model.errors|safe }};
	
	is_timeseries_analysis = {{ simulation_model.is_timeseries_analysis|yesno:"true,false" }};
	simulation_start_time = {{ simulation_model.simulation_start_time }};
    simulation_end_time = {{ simulation_model.simulation_end_time }};
    timestep_size = {{ simulation_model.timestep_size }};
	
	var number_of_periods;
	if (is_timeseries_analysis) {
		number_of_periods = Math.floor((simulation_end_time - simulation_start_time)/timestep_size) + 1;
	} else {
		number_of_periods = 1;
	}


	
	var selected_simulations = new Set(); 
	var selected_object_attribute = null;

			
	var clicked_selection_buttons = {'select_all_clicked': false, 'select_correct_clicked': false, 'select_false_clicked': false}
	
	/*
	var rules_list = {};	
	var new_rule_cursor_position = {};
	var new_rule_used_attribute_names = [];
	var new_rule_used_attribute_ids = [];
	var highlighted_words_dict = {};
	var delta_t_list = ['delta_t (years)', 'delta_t (months)', 'delta_t (days)', 'delta_t (hours)', 'delta_t (minutes)', 'delta_t (seconds)'];
	var timestep_units = [31622400, 2635200, 604800, 86400, 3600, 60, 1];
	var include_zero = false;
	*/



	//========================================================================
	//========================================================================
	//=========================   LEFT PANEL      ============================
	//========================================================================
	//========================================================================

	

	//== draw buttons ================================================================================================
	function drawLeftPanel() {
	
		initial_state_ids = []; 
		var all_simulation_numbers = Object.keys(simulation_data);
		for (var i = 0; i < all_simulation_numbers.length; i++) {
			var initial_state_id = all_simulation_numbers[i].split('-')[0];
			if (!initial_state_ids.includes(initial_state_id)) {
				initial_state_ids.push(initial_state_id);
			}
		}	
		
		var initial_state_selection_buttons = '';
		for (var i = 0; i < initial_state_ids.length; i++) {
			initial_state_selection_buttons += '<button id="initial-state-btn' + i + '" class="btn btn-light simulation-selection-button" type="button" onclick="selectSimulationsWithInitialState(' + initial_state_ids[i] + ')">All with Intital State ' + initial_state_ids[i] + '</button>';
		}	
		$('#initial-state-simulation-selection-buttons').html(initial_state_selection_buttons);
		
		var individual_selection_buttons = '';
		for (var i = 0; i < all_simulation_numbers.length; i++) {
			individual_selection_buttons += '<button id="selection-button-' + all_simulation_numbers[i] + '" class="btn btn-light simulation-selection-button simulation-toggle" type="button" onclick="selectSimulation(\'' + all_simulation_numbers[i] + '\')">Simulation ' + i + '</button>'
		}	
		$('#individual-simulation-selection-buttons').html(individual_selection_buttons);
	} 


	
	
	
	
	
	//All Simulations -------------------------------  
	
	function selectAllSimulations() {	
		$('#all-simulations-button').toggleClass('active');

		if (clicked_selection_buttons['select_all_clicked']) {
			clicked_selection_buttons['select_all_clicked'] = false;
			
			selected_simulations = new Set()		
			$('.simulation-toggle').removeClass('active');
			$('#bottom-object-items').html('');
			$('#graph-panel').html('');
		} else {
			clicked_selection_buttons['select_all_clicked'] = true;
			
			all_simulation_numbers = Object.keys(simulation_data);
			for (var i = 0; i < all_simulation_numbers.length; i++) {
				selected_simulations.add(all_simulation_numbers[i]);
			}		
			$('.simulation-toggle').addClass('active');
			
			refreshRestOfScreen();
		}
	}
	
	//Correct Simulations  -------------------------------
	function selectCorrectSimulations() {
		$('#correct-simulations-button').toggleClass('active');
		if (clicked_selection_buttons['select_correct_clicked']) {
			clicked_selection_buttons['select_correct_clicked'] = false;
			
			for (var i = 0; i < errors['correct_simulations'].length; i++) {
				var simulation_number = errors['correct_simulations'][i];
				selected_simulations.delete(simulation_number);
				$('#selection-button-' + simulation_number).removeClass('active');
			}
				
		} else {
			clicked_selection_buttons['select_correct_clicked'] = true;
			
			for (var i = 0; i < errors['correct_simulations'].length; i++) {
				var simulation_number = errors['correct_simulations'][i];
				selected_simulations.add(simulation_number);
				$('#selection-button-' + simulation_number).addClass('active');
			}
		}
		refreshRestOfScreen();
	}
	
	//False Simulations  -------------------------------
	function selectFalseSimulations() {
		$('#false-simulations-button').toggleClass('active');
		if (clicked_selection_buttons['select_false_clicked']) {
			clicked_selection_buttons['select_false_clicked'] = false;
			
			for (var i = 0; i < errors['false_simulations'].length; i++) {
				var simulation_number = errors['false_simulations'][i];
				selected_simulations.delete(simulation_number);
				$('#selection-button-' + simulation_number).removeClass('active');
			}
				
		} else {
			clicked_selection_buttons['select_false_clicked'] = true;
			
			for (var i = 0; i < errors['false_simulations'].length; i++) {
				var simulation_number = errors['false_simulations'][i];
				selected_simulations.add(simulation_number);
				$('#selection-button-' + simulation_number).addClass('active');
			}
		}
		refreshRestOfScreen();
	}
	
	//All with Initial State X  -------------------------------
	function selectSimulationsWithInitialState(initial_state_id) {
		$('#initial-state-btn' + initial_state_id).toggleClass('active');
		if (clicked_selection_buttons['select_initial_state' + initial_state_id +'_clicked']) {
			clicked_selection_buttons['select_initial_state' + initial_state_id +'_clicked'] = false;
			
			var all_simulation_numbers = Object.keys(simulation_data);
			for (var i = 0; i < all_simulation_numbers.length; i++) {
				if (all_simulation_numbers[i].split('-')[0] == String(initial_state_id)) {
					selected_simulations.delete(all_simulation_numbers[i]);
					$('#selection-button-' + all_simulation_numbers[i]).removeClass('active');
				}
			}		
		} else {
			clicked_selection_buttons['select_initial_state' + initial_state_id +'_clicked'] = true;
			
			var all_simulation_numbers = Object.keys(simulation_data);
			for (var i = 0; i < all_simulation_numbers.length; i++) {
				if (all_simulation_numbers[i].split('-')[0] == String(initial_state_id)) {
					selected_simulations.add(all_simulation_numbers[i]);
					$('#selection-button-' + all_simulation_numbers[i]).addClass('active');
				}
			}	
		}
		refreshRestOfScreen();
	}
	
	//Simulation X  -------------------------------
	function selectSimulation(simulation_number) {
		if ($('#selection-button-' + simulation_number).hasClass('active')) {
			selected_simulations.delete(simulation_number);
			$('#selection-button-' + simulation_number).removeClass('active');
		} else {
			selected_simulations.add(simulation_number);
			$('#selection-button-' + simulation_number).addClass('active');
		}
		refreshRestOfScreen();
	}
	
	
	
	
	function refreshRestOfScreen() {
	
		drawBottomPanel();
		fillBottomPanel('mean');
		if (selected_object_attribute != null) {
			var object_number = selected_object_attribute['object_number']
			var attribute_id = selected_object_attribute['attribute_id']
			var period_number = selected_object_attribute['period_number']
			if (period_number == null) {
				drawTopPanel_Attribute(object_number, attribute_id);
			} else {
				drawTopPanel_AttributeValue(object_number, attribute_id, period_number);
			}
		}
	}
	
	
	
	
	
	
	
	
	//========================================================================
	//========================================================================
	//=====================    BOTTOM PANEL      =============================
	//========================================================================
	//========================================================================
	
	
	// Draw Object Boxes  -------------------------------
	function drawBottomPanel() {
		var object_items_html = '';
		
		var selected_simulations_list = Array.from(selected_simulations);
		if (selected_simulations_list.length > 0) {
			var object_numbers = Object.keys(objects_dict);
			for (var i = 0; i < object_numbers.length; i++) {
				var object_number = object_numbers[i];
				object_items_html = '<li class="bottom-object-item">' +
										'<div class="bottom-object-outer-box">' + objects_dict[object_number]['object_name'] + 
											'<img class="bottom-object-icon" src="{% static "images/object_icons/" %}' + objects_dict[object_number]['object_icon'] + '.svg">' +
											'<span id="object-box-triangle-' + object_number + '" class="glyphicon glyphicon-triangle-top collapse-triangle" onclick="collapseExpandObjectInnerBox(' + object_number + ');"></span>' +
											'<div id="object-inner-box' + object_number + '" class="bottom-object-inner-box">';
				
				attribute_ids = Object.keys(objects_dict[object_number]['object_attributes']);
				for (var j = 0; j < attribute_ids.length; j++) {
					var attribute_id = attribute_ids[j];
					
					object_items_html += 		'<div class="bottom-object-data-row" style="width:' + String(178 + 57*(number_of_periods)) + 'px;">' +
													'<div class="bottom-attribute-name" onclick="drawTopPanel_Attribute(' + object_number + ',' + attribute_id + ')">' + objects_dict[object_number]['object_attributes'][attribute_id]['attribute_name'] + '</div>' +
													'<div class="bottom-attribute-values">';
						
					for (var period_number = 0; period_number < number_of_periods; period_number++) {
						object_items_html += 			'<div id="' + object_number + '-' + attribute_id + '-' + period_number + '" class="attribute-value" onclick="drawTopPanel_AttributeValue(' + object_number + ',' + attribute_id + ',' + period_number + ')"></div>';
					}
					object_items_html += 			'</div>	' +
												'</div>';
				}
				object_items_html += 		'</div>	' +
										'</div>' + 						
									'</li>';
			}
		}
		
		$('#bottom-object-items').html(object_items_html);
	}
	
	
	

	
	// Fill in Values  -------------------------------
	function fillBottomPanel(metric) {
		
		var selected_simulations_list = Array.from(selected_simulations);
		var object_numbers = Object.keys(objects_dict);
		for (var i = 0; i < object_numbers.length; i++) {
			var object_number = object_numbers[i];
			
			var attribute_ids = Object.keys(objects_dict[object_number]['object_attributes']);
			for (var j = 0; j < attribute_ids.length; j++) {
				var attribute_id = attribute_ids[j];
				
				for (var period_number = 0; period_number < number_of_periods; period_number++) {
					
					// values
					var values = []
					for (var k = 0; k < selected_simulations_list.length; k++) {
						var simulation_number = selected_simulations_list[k];
						var column_name = 'obj' + String(object_number) + 'attr' + String(attribute_id);
						values.push(simulation_data[simulation_number][column_name][period_number]);
					}
					
					// calculate the resulting value
					var resulting_value;
					var datatype = objects_dict[object_number]['object_attributes'][attribute_id]['attribute_data_type'];
					if (['real','int'].includes(datatype) && metric=='mean') { // -> average value
						sum_of_values = 0
						for (var l = 0; l < values.length; l++) {
							sum_of_values += values[l];
						}
						resulting_value = sum_of_values/selected_simulations_list.length;
					}
					
					if (['string', 'relation', 'bool'].includes(datatype)) {  // -> most common value
						var value_occurences = {}
						for (var l = 0; l < values.length; l++) {
							var value = values[l];
							if (Object.keys(value_occurences).includes(value)) {
								value_occurences[value] += 1;
							} else {
								value_occurences[value] = 0;
							}
						}
						
						var max_count = 0;
						var distinct_values = Object.keys(value_occurences);
						for (var l = 0; l < distinct_values.length; l++) {
							if (distinct_values[distinct_values[l]] > max_count) {
								resulting_value = distinct_values[l];
								max_count = distinct_values[distinct_values[l]];
							}
						}
					}
					
					// insert the resulting value
					$('#' + object_number + '-' + attribute_id + '-' + period_number).html(resulting_value);
						
				}
			}
		}
	}
		
		
		
	// Expand/Collapse Triangle -------------------------------
	function collapseExpandObjectInnerBox(object_number) {
		var span = $('#object-box-triangle-' + object_number)
		if (span.hasClass('glyphicon-triangle-top')) {
			span.removeClass('glyphicon-triangle-top');
			span.addClass('glyphicon-triangle-bottom');
			$('#object-inner-box' + object_number).animate({height: '0px'}, 200, 'linear');
			$('#object-inner-box' + object_number).css('border-width', '0px');
		} else {
			span.removeClass('glyphicon-triangle-bottom');
			span.addClass('glyphicon-triangle-top');
			$('#object-inner-box' + object_number).css('height', 'auto');
			$('#object-inner-box' + object_number).css('border-width', '1px');
		}
	}
	






	//========================================================================
	//========================================================================
	//========================   TOP PANEL   =================================
	//========================================================================
	//========================================================================

	

	//========================  DRAW TOP PANEL   =================================
		
	function drawTopPanel_Attribute(object_number, attribute_id) {	
		selected_object_attribute = {'object_number': object_number, 'attribute_id': attribute_id, 'period_number': null};
		var attribute_name = objects_dict[object_number]['object_attributes'][attribute_id]['attribute_name'];
		var object_name = objects_dict[object_number]['object_name'];
		var attribute_data_type = objects_dict[object_number]['object_attributes'][attribute_id]['attribute_data_type'];
		
		$('#top-panel').html(	'<div id="graph-panel"></div>' +
								'<div id="triggerd-rules-panel"></div>' +
								'<div id="top-menu-bar">' +
									'<div id="vertically-centered">' +
										'<button id="show-rules-button" class="btn btn-secondary" type="button" onclick="showHideRules(' + object_number + ',' + attribute_id + ', null)">Triggerd Rules<span id="triggerd-rules-triangle" class="glyphicon glyphicon-triangle-top collapse-triangle"></span></button>' +
										'<div id="inlude-zero-menu"></div>' +
										'<button id="run-button" class="btn btn-primary pull-right" type="button" onclick="run()">Re-Run Simulation</button>' +
									'</div>' +
								'</div>' +
								'<div id="top-splitter"></div>' +
								'<div id="triggered-rules-panel"></div>');

		if (number_of_periods > 1) {
			if (['real','int'].includes(attribute_data_type)) {
				linegraph_data = prepareLineGraphData_Attribute(object_number, attribute_id);
				plotLineGraph(false, object_name, attribute_name, linegraph_data);
			
			} else {
				plotLineGraph(true, object_name, attribute_name, linegraph_data);
			} 	
		} else {
			if (['real','int'].includes(attribute_data_type)) {
				histogram_data = prepareHistogramData(false, object_number, attribute_id, 0);
				plotHistogram(object_name, attribute_name, histogram_data);
			} else {
				histogram_data = prepareHistogramData(true, object_number, attribute_id, 0);
				plotHistogram(object_name, attribute_name, histogram_data);
			}
		}
		
	}
	
	
	function drawTopPanel_AttributeValue(object_number, attribute_id, period_number) {
		selected_object_attribute = {'object_number': object_number, 'attribute_id': attribute_id, 'period_number': period_number};
		var attribute_name = objects_dict[object_number]['object_attributes'][attribute_id]['attribute_name'];
		var object_name = objects_dict[object_number]['object_name'];
		var attribute_data_type = objects_dict[object_number]['object_attributes'][attribute_id]['attribute_data_type'];
		
		
		$('#top-panel').html(	'<div id="graph-panel"></div>' +
								'<div id="triggerd-rules-panel">' +
									'<div class="triggerd-rules-period">' +
										'<div class="triggerd-rule not-triggered color1">Rule ' + 1 + ' (prob=' + 56 + '%) => \'setosa\'</div>' +
										'<div class="triggerd-rule triggered color3">Rule ' + 3 + ' (prob=' + 56 + '%) => \'setosa\'</div>' +
										'<div class="triggerd-rule not-triggered color7">Rule ' + 7 + ' (certain) => \'setosa\'</div>' +
										'<div class="triggerd-rule triggered color8">Rule ' + 8 + ' (certain) => \'setosa\'</div>' +
									'</div>' +									
								'</div>' +
								'<div id="top-menu-bar">' +
									'<div id="vertically-centered">' +
										'<button id="show-rules-button" class="btn btn-secondary" type="button" onclick="showHideRules(' + object_number + ',' + attribute_id + ', null)">Triggerd Rules<span id="triggerd-rules-triangle" class="glyphicon glyphicon-triangle-top collapse-triangle"></span></button>' +
										'<div id="inlude-zero-menu"></div>' +
										'<button id="run-button" class="btn btn-primary pull-right" type="button" onclick="run()">Re-Run Simulation</button>' +
									'</div>' +
								'</div>' +
								'<div id="top-splitter"></div>' +
								'<div id="triggered-rules-panel"></div>');
								
		
		if (['real','int'].includes(attribute_data_type)) {
			histogram_data = prepareHistogramData(false, object_number, attribute_id, period_number);
			plotHistogram(object_name, attribute_name, histogram_data);
		} else {
			histogram_data = prepareHistogramData(true, object_number, attribute_id, period_number);
			plotHistogram(object_name, attribute_name, histogram_data);
		}
	}
	

	
	
	//========================  PREPARE DATA - TOP PANEL   =================================
	
	// Histogram Graph Data ------------------------
	function prepareHistogramData(is_categorical, object_number, attribute_id, period_number) {
	
		var selected_simulations_list = Array.from(selected_simulations);
		var column_name = 'obj' + String(object_number) + 'attr' + String(attribute_id);
		var histogram_data;
		
		if (is_categorical) {
			// value_occurences
			var value_occurences = {}
			for (var i = 0; i < selected_simulations_list.length; i++) {
				var value = simulation_data[selected_simulations_list[i]][column_name][period_number];
				if (Object.keys(value_occurences).includes(value)) {
					value_occurences[value] += 1;
				} else {
					value_occurences[value] = 0;
				}
			}
			
			// histogram_data
			histogram_data = []
			var distinct_values = Object.keys(value_occurences);
			for (var i = 0; i < distinct_values.length; i++) {
				var value = distinct_values[i];
				histogram_data.push([value, String(value_occurences[value])]);
			}
			
			
		} else {
			// overall value range
			var minimum_overall_value = 100000;
			var maximum_overall_value = -100000;
			var all_simulations = Object.keys(simulation_data);
			for (var i = 0; i < all_simulations.length; i++) {
				for (var period_nb = 0; period_nb < number_of_periods; period_nb++) {
					var value = simulation_data[all_simulations[i]][column_name][period_nb];
					if (value > maximum_overall_value) {maximum_overall_value = value;}
					if (value < minimum_overall_value) {minimum_overall_value = value;}
				}
			}
			var bin_interval = (maximum_overall_value - minimum_overall_value)/40;
			
			// bin_occurences
			bin_occurences = Array(40).fill(0);
			for (var i = 0; i < selected_simulations_list.length; i++) {
				var value = simulation_data[selected_simulations_list[i]][column_name][period_number];
				var bin_number = Math.floor((value - minimum_overall_value)/bin_interval);
				bin_occurences[bin_number] += 1;
			}
			
			// histogram_data
			histogram_data = []
			for (var i = 0; i < bin_occurences.length; i++) {
				var interval_central_value = (minimum_overall_value + i*bin_interval + bin_interval/2 ).toFixed(2)
				histogram_data.push([String(interval_central_value), String(bin_occurences[i])])
			}
		}
		
		return histogram_data;
	}
	
	
	
	// Line Graph Data ------------------------------------
	function prepareLineGraphData_Attribute(object_number, attribute_id) {

		var selected_simulations_list = Array.from(selected_simulations);
		if (selected_simulations_list.length > 20) {
			selected_simulations_list = selected_simulations_list.slice(0, 20);
		}
		
		var linegraph_data = [];
		var max_value = -1000;
		var min_value = 1000;
		for (var period_number = 0; period_number < number_of_periods; period_number++) {
			
			// Period's Time
			var current_timestamp= simulation_start_time + (timestep_size * period_number);
			var current_date = new Date(current_timestamp*1000);
			var year = current_date.getFullYear();
			var month = current_date.getMonth();
			var day = current_date.getDate();
			var hours = current_date.getHours();
			var minutes = "0" + current_date.getMinutes();
			var seconds = "0" + current_date.getSeconds();
			
			var date_string = '';
			if (timestep_size >= 31535998) {
				date_string = year;
			} else if (timestep_size >= 2419198) {
				date_string = year+'-'+month;
			} else if (timestep_size >= 86398) {
				date_string = year+'-'+month+'-'+day;
			} else if (timestep_size >= 58) {
				date_string = year+'-'+month+'-'+day+' '+hours + ':' + minutes.substr(-2);
			} else {
				date_string = year+'-'+month+'-'+day+' '+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
			}
			
			var linegraph_data_row = [date_string];

			// values
			for (var k = 0; k < selected_simulations_list.length; k++) {
				var simulation_number = selected_simulations_list[k];
				var column_name = 'obj' + String(object_number) + 'attr' + String(attribute_id);
				var value = simulation_data[simulation_number][column_name][period_number];
				linegraph_data_row.push(value);
				if (value < min_value) {min_value = value;}
				if (value > max_value) {max_value = value;}
			}
			linegraph_data.push(linegraph_data_row);
		}
		
		return linegraph_data;
	}
	
	
	

	//========================  PLOT GRAPH - TOP PANEL   =================================
			
	// Plot Line Histogram  -------------------------------------
	function plotHistogram(object_name, attribute_name, histogram_data) {
		anychart.onDocumentReady(function () {

			var chart = anychart.column();
			chart.title(object_name + '.[' + attribute_name + ']');
			//chart.animation(true);


			var series = chart.column(histogram_data);

			series.tooltip().titleFormat('{%X}');

			series.tooltip()
					.position('center-top')
					.anchor('center-bottom')
					.offsetX(0)
					.offsetY(5)
					.format('{%Value}{groupsSeparator: }');


			chart.barGroupsPadding(0);
			chart.yScale().minimum(0);
			chart.yAxis().labels().format('{%Value}{groupsSeparator: }');
			chart.tooltip().positionMode('point');
			chart.interactivity().hoverMode('by-x');

			chart.xAxis().title(attribute_name);
			chart.yAxis().title('Count');

			// set container id for the chart
			chart.container('graph-panel');
			chart.draw();
		});
		
	}
	
	


	// Plot Line Graph  ----------------------------------
	function plotLineGraph(is_categorical, object_name, attribute_name, linegraph_data) {
	
		var selected_simulations_list = Array.from(selected_simulations);
		anychart.onDocumentReady(function () {
			// load data
			var dataSet = anychart.data.set(linegraph_data);


			// create line chart
			var chart = anychart.line();
			chart.title(object_name + '.[' + attribute_name + ']');
			chart.animation(true);
			chart.padding([10, 20, 5, 20]);
			chart.crosshair()
					.enabled(true)
					.yLabel(false)
					.yStroke(null);
			chart.tooltip().positionMode('point');
			chart.yAxis().title(attribute_name);
			chart.xAxis().labels().padding(5);
			
			if (is_categorical) {
				ordinalYScale = anychart.scales.ordinal();
				ordinalYScale.names(categories)
				chart.yScale(ordinalYScale);
			}
			
			//var include_zero = false;
			var include_zero = document.getElementById("include-zero").checked;
			var yScale = chart.yScale();
			if (include_zero & min_value > 0) {
				yScale.minimum(0);
			} else if (include_zero &  max_value < 0) {
				yScale.maximum(0);
			}


			for (var i = 0; i < selected_simulations_list.length; i++) {
				// create first series with mapped data
				var series_2;
				if (is_categorical) {
					series_2 = chart.line(dataSet.mapAs({'x': 0, 'value': i+1}));
				} else {
					series_2 = chart.stepLine(dataSet.mapAs({'x': 0, 'value': i+1}));
				}
				series_2.name('Simulation' + i)
						.stroke("2 #14AA09");
				series_2.hovered().markers()
						.enabled(true)
						.type('circle')
						.size(4);
				series_2.tooltip()
						.position('right')
						.anchor('left-center')
						.offsetX(5)
						.offsetY(5);
			}
			
			
			// turn the legend on
			chart.legend()
					.enabled(true)
					.fontSize(13)
					.padding([0, 0, 10, 0])
					.positionMode("inside")
					.position("top");

			// set container id for the chart
			chart.container('graph-panel');
			chart.draw();
		});
		
		$('#inlude-zero-menu').html('<input type="checkbox" class="custom-control-input" id="inlcude-zero" onchange="refreshRestOfScreen()">' +
									'<label class="custom-control-label" for="inlcude-zero">&nbsp;Include 0 in Linegraph</label>');
	}
	
	
	//========================================================================
	//=====================    TRIGGERD RULES      ===========================
	//========================================================================
	
	
	function showHideRules(object_number, attribute_id, period_number) {
	
		if ($('#triggerd-rules-triangle').hasClass('glyphicon-triangle-top')) {
			// format
			$('#triggerd-rules-triangle').removeClass('glyphicon-triangle-top');
			$('#triggerd-rules-triangle').addClass('glyphicon-triangle-bottom');
			$('#triggerd-rules-panel').css('border', '1px solid rgb(210, 210, 210)');
			$('#triggerd-rules-panel').animate({height: '150px'}, 200, 'linear');
			$('#graph-panel').css('height','calc(100% - 195px)');
			
			var triggerd_rules_html = '';
			if (period_number != null) {
				
			
			}
			
			
			/*triggerd_rules_html = '';
			
			var column_name = 'obj' + String(object_number) + 'attr' + String(attribute_id);
			var selected_simulations_list = Array.from(selected_simulations);
			for (var i = 0; i < selected_simulations_list.length; i++) {
				var value = simulation_data[selected_simulations_list[i]][column_name][period_number];
				if (Object.keys(value_occurences).includes(value)) {
					value_occurences[value] += 1;
				} else {
					value_occurences[value] = 0;
				}
			}
			
			
			$('#triggerd-rules-panel').html(triggerd_rules_html);*/
		
		} else {
			$('#triggerd-rules-triangle').removeClass('glyphicon-triangle-bottom');
			$('#triggerd-rules-triangle').addClass('glyphicon-triangle-top');
			$('#triggerd-rules-panel').css('border', '0px');
			$('#triggerd-rules-panel').animate({height: '0px'}, 200, 'linear');
			$('#graph-panel').css('height','calc(100% - 45px)');
			
			
		
		}
	}
	
	
	
	
	
	

	//========================================================================
	//========================================================================
	//========================    MAIN      ==================================
	//========================================================================
	//========================================================================
	
	drawLeftPanel();


	// make the Top Panel resizable
	 $("#top-panel").resizable({
	   handleSelector: "#splitter",
	   resizeHeight: true
	 });
	 
	$("#graph-panel").resizable({
	   handleSelector: "#top-splitter",
	   resizeHeight: true
	 });

	
	 
</script>


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<!--
<script>
	jQuery(document).ready(function($){
		
		/*---------------------------------------------------------------*\
		 * Drag & Drop  - for Variable selection/sorting in left panel
		\*---------------------------------------------------------------*/
		$(function() {
			$( "#bottom-object-items" ).sortable({
				connectWith: ".object-type-variable-selection",
				/*stop: function(event, ui) {
					var item_sortable_list_id = $(this).attr('id');
					console.log(ui);
					//alert($(ui.sender).attr('id'))
				},*/
				receive: function(event, ui) {
					//alert("dropped on = "+this.id); // Where the item is dropped
					//alert("sender = "+ui.sender[0].id); // Where it came from
					//alert("item = "+ui.item[0].innerHTML); //Which item (or ui.item[0].id)
				}         
			}).disableSelection();
		});
		
		
	});
</script>

-->


<script>
	jQuery(document).ready(function($){
		 $(function () {
			$("#bottom-object-items").sortable({
					/*start: function (event, ui) {
							ui.item.toggleClass("highlight");
					},
					stop: function (event, ui) {
							ui.item.toggleClass("highlight");
					}*/
			});
			$("#bottom-object-items").disableSelection();
		});
	});
</script>
	 

{% endblock %}



