{% extends 'layouts/base_tool.html' %}'
{% load staticfiles %}

{% block title %}
	Tree of Knowledge - Main Menu
{% endblock %}

{% block additionalcss %}
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/jquery.highlight-within-textarea.css' %}">
<style>
	.content {
		padding: 0px;
		height: 100%
	}

	/* Resizable Panels -------------------------------------------------*/
	.panel-container {
	  display: flex;
	  flex-direction: column;
	  border: 1px solid silver;
	  overflow: hidden;
	  xtouch-action: none; /* avoid browser level touch actions */
	  height:calc(100vh - 59px);
	}

	#top-panel {
	  flex: 0 0 auto;  /* only manually resize */
	  height: 55%;
	  min-height: 150px;
	  width: 100%;
	  //white-space: nowrap;
	}

	#splitter {
	  flex: 0 0 auto;
	  height: 4px;  
	  background: rgb(225, 225, 225);
	  border: 1px solid rgb(200, 200, 200);
	  cursor: row-resize; 
	  box-shadow: 3px  0 6px 0 rgba(0, 0, 0, 0.19);
	  z-index: 1;
	}

	#bottom-panel {
	  flex: 1 1 auto;   /* resizable */
	  padding-right: 10px;
	  min-height: 200px;
	  width: 100%;
	  height: 100%;
	}
	
	/* --------------------------------------------------------------------------*/
	/* Top Left Panel ----------------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/
	
	#top-left-panel {
		height: 100%;
		width: calc(100vw - 470px);
		display: inline-block;
	}
	
	#linegraph-container {
		height: 85%;
		width: 100%;
	}
	
	#top-left-menu-bar {
		height: 15%;
		width: 100%;
		background: rgb(226, 226, 226);
		border-top: 1px solid rgb(202,202,202); 
	}
	
	.inlude-zero-menu {
		display: inline-block;
		margin-left: 25px;
		margin-right: 15px;
		margin-top: 10px;
	}
	
	.menu-bar-error-message {
		display: inline-block;
		margin-left: 25px;
	}
	
	#run-button {
		margin-right: 8px;
		margin-top: 6px;
	}
								
	/* --------------------------------------------------------------------------*/
	/* Rule Display Main --------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/
	#rule-display-main {
		width: 430px;
		padding-left: 15px;
		display: inline-block;
		vertical-align: top;
		border-left: 1px solid rgb(202,202,202);
		height: 378px;
	}
	

	
	#edit-and-delete-rule-buttons {
		display: inline-block;
	}
	
	
	.col-form-label {
		padding-left: 27px;
		padding-top: 8px;
	}
	
	.form-group.row{
		margin-bottom: 19px;
	}
	
	.form-group {
		margin-bottom: 2px;
	}
	
	/* Rule Selection DropDown ------------------------*/
	#rule-selection-box-outer {
		text-align: center;
		display: inline-block;
		width: 362px;
		margin-bottom: 33px;
	}
	
	#rule-selection-box-inner {
		display: inline-block;
	}
	
	#ruleMenu {
		min-width: 200px;
		margin-top: 11px;
	}
	
	.possible-rule-item {
		padding: 4px 5px;
	}
	
	.possible-rule-item > button {
		padding: 3px;
		width: 186px;
	}
	
	.dropdown-menu {
		border: 1px solid #fff;
	}
	
	#drop-down-display {
		margin-bottom: 0px;
		max-height: 250px;
		overflow-y: auto;
	}
	
	.no-rule-btn {
		width: 190px;
		margin-top: 3px;
		padding: 5px 12px;
		float: left;
		margin-left: 5px;
	}
	
	#create-new-rule-btn {
		width: 190px;
		margin-top: 3px;
		padding: 5px 12px;
		float: left;
		margin-left: 5px;
	}
	
	/* Used Attribute Buttons ------------------------*/
	#unique_identifier_selection {
		margin-left:24px;
		height: 44px;
	}
	
	#used-attributes {
		margin-top: 5px
	}
	
	#used-attributes > .btn {
		margin-right:7px;	
		border: 1px solid black;
		border-radius: 17px;
		color:rgb(102, 102, 102);
		background-color: rgb(252, 252, 255);
		border-color: rgb(186, 187, 188);
		margin-bottom: 5px;
		padding: 3px 8px;
	  }
	
	
	#used-attributes > .btn:last-child:not(:first-child), 
	#used-attributes > .dropdown-toggle:not(:first-child),
	#used-attributes > .btn:first-child:not(:last-child):not(.dropdown-toggle),
	#used-attributes > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle)	{
		border-radius: 17px;
	  }
	  
	#used-attributes > .btn:hover, 
	#used-attributes > .active{
		color:rgb(0, 0, 0);
		/*background-color: rgb(156, 209, 183);*/
		border-color: rgb(146, 147, 147);
	}
	
	#used-attribute0:hover, #used-attribute0.active {background-color: rgb(96, 143, 202);}
	#used-attribute1:hover, #used-attribute1.active {background-color: rgb(49, 148, 76);}
	#used-attribute2:hover, #used-attribute2.active {background-color: rgb(147, 116, 209);}
	#used-attribute3:hover, #used-attribute3.active {background-color: rgb(200, 91, 103);}
	#used-attribute4:hover, #used-attribute4.active {background-color: rgb(198, 201, 92);}
	#used-attribute5:hover, #used-attribute5.active {background-color: rgb(184, 61, 161);}
	#used-attribute6:hover, #used-attribute6.active {background-color: rgb(190, 136, 63);}
	#used-attribute7:hover, #used-attribute7.active {background-color: rgb(59, 176, 160);}
	#used-attribute8:hover, #used-attribute8.active {background-color: rgb(193, 72, 69);}
	#used-attribute9:hover, #used-attribute9.active {background-color: rgb(169, 99, 56);}
	#used-attribute10:hover, #used-attribute10.active {background-color: rgb(129, 213, 170);}
	#used-attribute11:hover, #used-attribute11.active {background-color: rgb(73, 106, 194);}
	#used-attribute12:hover, #used-attribute12.active {background-color: =rgb(154, 51, 135);}

	.hwt-content mark.color0 { background-color:rgb(96, 143, 202);}
	.hwt-content mark.color1 { background-color:rgb(49, 148, 76);}
	.hwt-content mark.color2 { background-color:rgb(147, 116, 209);}
	.hwt-content mark.color3 { background-color:rgb(200, 91, 103);}
	.hwt-content mark.color4 { background-color:rgb(198, 201, 92);}
	.hwt-content mark.color5 { background-color:rgb(184, 61, 161);}
	.hwt-content mark.color6 { background-color:rgb(190, 136, 63);}
	.hwt-content mark.color7 { background-color:rgb(125, 195, 75);}
	.hwt-content mark.color8 { background-color:rgb(193, 72, 69);}
	.hwt-content mark.color9 { background-color:rgb(169, 99, 56);}
	.hwt-content mark.color10 { background-color:rgb(129, 213, 170);}
	.hwt-content mark.color11 { background-color:rgb(73, 106, 194);}
	.hwt-content mark.color12 { background-color:rgb(154, 51, 135);}
	

	.hwt-content {
		width: 388px;
		height: 91px;
		padding: 6px 12px;
		border: 1px solid rgb(204, 204, 204);
		color: rgb(85, 85, 85);
		font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
		border-radius:4px;
		background: white;
		line-height: 20px;
	}
	
	.hwt-highlights {
		width: 388px !important;
	}
	
	.hwt-backdrop {
		padding-right: 0px !important;
	}
	
	#rule-text {
		width: 412px !important;
		height: 91px !important;
	}
	
	/* --------------------------------------------------------------------------*/
	/* Rule Display Right -------------------------------------------------------*/
	/* --------------------------------------------------------------------------*/
	#rule-display-right {
		padding-left: 22px;
		vertical-align: top;
		display: inline-block;
	}
	
	
	.available-variables-label {
		margin-top: 19px;
		font-weight: 700;
		font-size: 15px;
		color: rgb(110, 110, 110);
	} 
	
	#selectAvailableVariable {
		width: 179px;
		margin-top: 2px;
		margin-bottom: 5px;
	}
	
	#available-variable-frame {
		border: 1px solid rgb(202, 202, 202);
		border-radius: 4px;
		width: 177px;
		height: 236px;
		overflow: auto;
	}
	
	.list-group-item.avail-var-item{
		border-bottom: 1px solid rgb(202, 202, 202);
		margin-bottom: 0px;
		padding:0px;
	}

	.avail-var-button {
		background: white;
	}
	
	#cancel-and-save-rule-btn {
		margin-top: 10px;
		float: right;
	}
	
	#chooseRuleSaveButton {
		margin-left: 5px;
	}
</style>
{% endblock %}

{% block content %}
<div class="panel-container">
	<div id="top-panel">
		<!--<div id="linegraph-container"></div> -->
	</div>

	<div id="splitter"></div>

	<div id="bottom-panel">	
	</div>
</div>

		
	
		
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-gantt.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
 
 	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>
 
<script type="text/javascript">
	// GLOBAL VARIABLES:
	objects_dict = {{ simulation_model.objects_dict|safe }}
	timeline_visualisation_data = {{ simulation_model.timeline_visualisation_data|safe }}
	linegraph_data = {{ simulation_model.linegraph_data|safe }}
	attribute_errors = {{ simulation_model.attribute_errors|safe }}
	simulation_start_time = {{ simulation_model.simulation_start_time }}
    simulation_end_time = {{ simulation_model.simulation_end_time }}
    timestep_size = {{ simulation_model.timestep_size }}
	
	var rules_list = {};	
	var new_rule_cursor_position = {};
	var new_rule_used_attribute_names = [];
	var new_rule_used_attribute_ids = [];
	var highlighted_words_dict = {};
	var delta_t_list = ['delta_t (years)', 'delta_t (months)', 'delta_t (days)', 'delta_t (hours)', 'delta_t (minutes)', 'delta_t (seconds)'];
	var timestep_units = [31622400, 2635200, 604800, 86400, 3600, 60, 1]
	var inlcude_zero = false;
	



	//==================================================================================================
	//==================================================================================================
	//==================================================================================================
	//==============================   BOTTOM PANEL      ===============================================
	//==================================================================================================
	//==================================================================================================
	//==================================================================================================

	anychart.onDocumentReady(function () {

			// setup
			var chart = anychart.ganttResource();
			var treeData = anychart.data.tree(timeline_visualisation_data, 'as-table');
			chart.data(treeData);
			chart.splitterPosition(300); // <- this is sadly not working!!


			// Left Columns --------------------------------------------------------
			var dataGrid = chart.dataGrid();

			dataGrid.column(0, false);
					
			dataGrid.column(1)
					.title('Object Attributes')
					//.width(300)
					.setColumnFormat('custom', {
						'textStyle': {
							'fontColor': 'black'/*,
							'fontSize': '5px'*/
						},
						'width': 300
					});;
					
					
			
			
			//hover text
			var dgTooltip = dataGrid.tooltip();
			dgTooltip.titleFormat(function () {
				return this['name'];
			});

			dgTooltip.format(function () {
				return '';
			});
			
			/*dgTooltip.format(function () {
				var average_error = this['averageError'];
				return average_error ? 'Average error: ' + average_error : '';
			});*/



			// Right Rows  --------------------------------------------------------
			chart.rowSelectedFill('#D4DFE8')
				 .rowHoverFill('#EAEFF3')
				 .splitterPosition(150); // set start splitter position settings
			
			//period boxes
			var tl = chart.getTimeline();
			tl.elements().stroke('0.5 black');
			tl.elements().labels()
					.enabled(true)
					.fontColor('#000')
					.format(function () {
						var name = this.period.periodCustomName || ''; 
						return name;
					});



			//hover text
			var timeline = chart.getTimeline();
			var tlTooltip = timeline.tooltip();
			tlTooltip.format(function () {
				var hoveredPeriod = this['period'];

				if (hoveredPeriod) {
				
					// Getting period object's fields.
					var simulated_value = hoveredPeriod['periodCustomName'];
					var true_value = hoveredPeriod['trueValue'];
					var error = hoveredPeriod['error'];

					return 'Simulated Value: ' + simulated_value + '\nTrue Value: ' + true_value + '\nError: ' + error;
				}
			});
			
			
			// Events ------------------------------------------------------------------
			chart.listen("rowClick", function(event) {
				//var parent = event['item'].get('parent');	
				//if (parent != null) {
					var row_id = event['item'].get('id');
					var object_id = row_id.split("_")[0];
					var attribute_id = row_id.split("_")[1];
					var attribute_name = event['item'].get('name');
					var object_number = event['item'].get('object_number');
					var attributeError = event['item'].get('averageError');
					
					
					displayTopPanel(object_number, attribute_name, object_id, attribute_id, attributeError);
				//}
				

			});


		
			// Draw the Chart ----------------------------------------------
			chart.container('bottom-panel');
			chart.draw();

			// zoom chart to specified date
			time_window_start = simulation_start_time *1000
			time_window_end = Math.min(simulation_end_time, simulation_start_time + 10*timestep_size) * 1000
			chart.zoomTo(time_window_start, time_window_end);
			//chart.fitAll();
			
	});
	
	
	//==================================================================================================
	//==================================================================================================
	//==================================================================================================
	//==================================    TOP PANEL    ===============================================
	//==================================================================================================
	//==================================================================================================
	//==================================================================================================
	
	
	//========================================================================
	//======================    Line Graphs    ===============================
	//========================================================================
	function displayTopPanel(object_number, attribute_name, object_id, attribute_id){
	
		average_simulation_error = 0;
		erroneous_attribute_ids = Object.keys(attribute_errors)
		for (var i = 0; i < erroneous_attribute_ids.length; i++) {
			average_simulation_error += attribute_errors[erroneous_attribute_ids[i]];
		}
		average_simulation_error = average_simulation_error/erroneous_attribute_ids.length;

		error_values_html_string = '';
		if (attribute_id in attribute_errors) {
			arrtribute_error_string = String(Math.round(attribute_errors[attribute_id] * 1000)/10)
			simulation_error_string = String(Math.round(average_simulation_error * 1000)/10)
			error_values_html_string = '<div class="menu-bar-error-message">Avg. Error for ' + attribute_name + ': ' + arrtribute_error_string + '%</div>' +
										'<div class="menu-bar-error-message">Avg. Error for Simulation: ' + simulation_error_string + '%</div>';
		} 
		
		// basic html
		top_panel_html = '<div id="top-left-panel">' +
							'<div id="linegraph-container"></div>' +
							'<div id="top-left-menu-bar">' +
								'<div class="inlude-zero-menu">' +
									'<input type="checkbox" class="custom-control-input" id="inlcude-zero" onchange="displayNumericalAttribute(\'' + object_name + '\', \'' + attribute_name + '\', ' + object_id + ',' + attribute_id + ')">' +
									'<label class="custom-control-label" for="inlcude-zero">&nbsp;Include 0 in Linegraph</label>' +
								'</div>' +
								error_values_html_string +
								'<button id="run-button" class="btn btn-primary pull-right" type="button" onclick="run()">Re-Run Simulation</button>' +
							'</div>' +
						'</div>' +
							'<div id="rule-display-main" class="form">' +
								'<div id="rule-title-box">' + 
									'<div id="rule-selection-box-outer">' +
										'<div id="rule-selection-box-inner" class="dropdown">' +
											'<button class="btn btn-secondary dropdown-toggle" type="button" id="ruleMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="rule-name">No Rule</span> &nbsp;<i class="fas fa-caret-down fa-sm"></i></button>' +
											'<div class="dropdown-menu" aria-labelledby="ruleMenu">' +
												'<div id="ruleList">' +
													'<input type="text" class="search form-control" id="dropDonwSearch" onkeyup="filterRuleDropDown(1)" placeholder=" Search">' +
													'<ul id="drop-down-display" class="list-group drop-down-display"></ul>' +
													'<button class="btn btn-outline-secondary dropdown-item-button no-rule-btn" type="button" data-toggle="modal" data-target="#createAttributeModal" onclick="noRule_buttonClick(' + object_number + ', ' + attribute_id + ')">No Rule (constant)</button>' +
													'<button class="btn btn-outline-secondary dropdown-item-button no-rule-btn" type="button" data-toggle="modal" data-target="#createAttributeModal" onclick="noRule_buttonClick(' + object_number + ', ' + attribute_id + ')">No Rule (from data)</button>' +
													'<button id="create-new-rule-btn" class="btn btn-success dropdown-item-button" type="button" data-toggle="modal" data-target="#createAttributeModal" onclick="openNewRuleForm(' + attribute_id + ', \'' + attribute_name + '\', ' + object_number + ')">Create New Rule</button>' +
												'</div>' +
											'</div>' +
										'</div>' +
									'</div>' +
									'<div id="edit-and-delete-rule-buttons">' +
									'</div>' +
								'</div>' +
								'<div class="form">' +
									'<div id="rule-details"></div>' +
								'</div>	' +
							'</div>' +
							'<div id="rule-display-right">' +
							'</div>';
		
		$('#top-panel').html(top_panel_html);
		
		// fill in the linegraph
		var attribute_data_type = objects_dict[object_number]['object_attributes'][attribute_id]['attribute_data_type'];
		var object_name = objects_dict[object_number]['object_name'];
		var attribute_name = objects_dict[object_number]['object_attributes'][attribute_id]['attribute_name'];

		if (['string','boolean'].includes(attribute_data_type)) {
			displayCategoricalAttribute(object_name, attribute_name, object_id, attribute_id)
		} else {
			displayNumericalAttribute(object_name, attribute_name, object_id, attribute_id)
		}
		
		// fill in the Rules
		makeRulesDropdown(object_number, attribute_id, attribute_name);
	}
	
	
	
	
	function displayNumericalAttribute(object_name, attribute_name, object_id, attribute_id) {
	
		var attributes_linegraph_data = linegraph_data[String(object_id)][String(attribute_id)]
		
		$("#linegraph-container").html('');
		var inlcude_zero = document.getElementById("inlcude-zero").checked;
		var set_y_min_to_zero = false;
		var set_y_max_to_zero = false;
		if (inlcude_zero) {
			var max_value = -1000;
			var min_value = 1000;
			for (var i = 0; i < attributes_linegraph_data.length; i++) {
				var row = attributes_linegraph_data[i];
				if (row[1] && row[1] > max_value) {
					max_value = row[1]
				}
				if (row[2] && row[2] > max_value) {
					max_value = row[2]
				}
				if (row[1] && row[1] < min_value) {
					min_value = row[1];
				}
				if (row[2] && row[2] < min_value) {
					min_value = row[2];
				}
			}
			if (min_value > 0) {
				set_y_min_to_zero = true;
			} else if (max_value < 0) {
				set_y_max_to_zero = true;
			}
		}



		// draw the chart
		anychart.onDocumentReady(function () {
		
			// load data
			var dataSet = anychart.data.set(linegraph_data[String(object_id)][String(attribute_id)]);


			// create line chart
			var chart = anychart.line();
			chart.animation(true);
			chart.padding([10, 20, 5, 20]);
			chart.crosshair()
					.enabled(true)
					.yLabel(false)
					.yStroke(null);
			chart.tooltip().positionMode('point');


			// set yAxis title
			chart.yAxis().title(attribute_name);
			chart.xAxis().labels().padding(5);
			
			// set yAxis range
			var yScale = chart.yScale();
			if (set_y_min_to_zero){
				yScale.minimum(0);
			} else if (set_y_max_to_zero) {
				yScale.maximum(0);
			}
			
			


			// create first series with mapped data
			var series_1 = chart.line(dataSet.mapAs({'x': 0, 'value': 1}));
			series_1.name('Simulation')
					.stroke("2 #14AA09");
			series_1.hovered().markers()
					.enabled(true)
					.type('circle')
					.size(4);
			series_1.tooltip()
					.position('right')
					.anchor('left-center')
					.offsetX(5)
					.offsetY(5);

			// create second series with mapped data
			var series_2 = chart.jumpLine(dataSet.mapAs({'x': 0, 'value': 2}));
			series_2.name('True values')
					.stroke("2 blue");
			series_2.hovered().markers()
					.enabled(true)
					.type('circle')
					.size(4);
			series_2.tooltip()
					.position('right')
					.anchor('left-center')
					.offsetX(5)
					.offsetY(5);


			// turn the legend on
			chart.legend()
					.enabled(true)
					.fontSize(13)
					.padding([0, 0, 10, 0])
					.positionMode("inside")
					.position("top");

			// set container id for the chart
			chart.container('linegraph-container');
			chart.draw();
		});
	}
	
	
	
		
	function displayCategoricalAttribute(object_name, attribute_name, object_id, attribute_id) {
	
		var attributes_linegraph_data = linegraph_data[String(object_id)][String(attribute_id)]
		
		var categories = []
		for (var i = 0; i < attributes_linegraph_data.length; i++) {
			var row = attributes_linegraph_data[i];
			if (!categories.includes(row[1])) {
				categories.push(row[1]);
			}
			if (!categories.includes(row[2])) {
				categories.push(row[2]);
			}
		}
		
		anychart.onDocumentReady(function () {
		
			// load data
			var dataSet = anychart.data.set(attributes_linegraph_data);


			// create line chart
			var chart = anychart.line();
			chart.animation(true);
			chart.padding([10, 20, 5, 20]);
			chart.crosshair()
					.enabled(true)
					.yLabel(false)
					.yStroke(null);
			chart.tooltip().positionMode('point');
			
			ordinalYScale = anychart.scales.ordinal();
			ordinalYScale.names(categories)
			chart.yScale(myYScale);
			

			// set yAxis title
			chart.yAxis().title(attribute_name);
			chart.xAxis().labels().padding(5);


			// create first series with mapped data
			var series_1 = chart.stepLine(dataSet.mapAs({'x': 0, 'value': 1}));
			series_1.name('Simulation')
					.stroke("2 green");
			series_1.hovered().markers()
					.enabled(true)
					.type('circle')
					.size(4);
			series_1.tooltip()
					.position('right')
					.anchor('left-center')
					.offsetX(5)
					.offsetY(5);

			// create second series with mapped data
			var series_2 = chart.jumpLine(dataSet.mapAs({'x': 0, 'value': 2}));
			series_2.name('True values')
					.stroke("2 blue");
			series_2.hovered().markers()
					.enabled(true)
					.type('circle')
					.size(4);
			series_2.tooltip()
					.position('right')
					.anchor('left-center')
					.offsetX(5)
					.offsetY(5);


			// turn the legend on
			chart.legend()
					.enabled(true)
					.fontSize(13)
					.padding([0, 0, 10, 0])
					.positionMode("inside")
					.position("top");

			// set container id for the chart
			chart.container('linegraph-container');
			chart.draw();
		});
		
	}
	
	
	//========================================================================
	//==================   Rule Display - DropDown  ==========================
	//========================================================================
	
	
	//=============  POPULATE Rules-DROPDOWN  ================================================================ 
	
	function makeRulesDropdown(object_number, attribute_id, attribute_name){

		var xhttp = new XMLHttpRequest();       
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

				rules_list = JSON.parse(this.responseText);
				rule_options_html_string = "";
				
				for (var i = 0; i < rules_list.length; i++) {
					rule_options_html_string += 	'<li class="list-group-item possible-rule-item"><button id="rule-inspection-button' + rules_list[i]['id'] + '" class="btn btn-outline-secondary" type="button" onclick="inspectRule(' + object_number + ',' + i + ',' + attribute_id + ',\'' + attribute_name + '\')" scope="col">' + rules_list[i]['name'] + '</button></li>';
				}
				
				$("#drop-down-display").html(rule_options_html_string);
				
				//if a rule has already been chosen -> select it
				var rule_id = objects_dict[object_number]['object_rules'][attribute_id]
				if (rule_id == null) {
					$("#rule-details").html('');
				} else {
					document.getElementById('rule-inspection-button' + rule_id).click();
				}
				
			}
		};

		xhttp.open("GET", "/tool/get_attribute_rules?attribute_id=" + attribute_id , true);
		xhttp.send();
	}
	
		
	function filterRuleDropDown(){	
		var current_query = $('#dropDonwSearch').val().toLowerCase();
		if (current_query !== "") {
			$("#drop-down-display li").hide();
			$("#drop-down-display li").each(function(){
				var current_keyword = $(this).text().toLowerCase();
				if (current_keyword.indexOf(current_query) >=0) {
					$(this).show();    	 	
				};
			});    	
		} else {
			$("#drop-down-display li").show();
		};
	}
	
	
	//== Inspect Rule =========================================================================================		  
	function inspectRule(object_number, i, rules_attribute_id, rules_attribute_name) {
		
		$("#rule-display-right").html('');
		
		//adjust width
		var window_width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		var top_left_panel_width = String(window_width - 470) + 'px';
		$('#top-left-panel').animate({width: top_left_panel_width}, 200, 'linear');


		
		$("#rule-name").html(rules_list[i]['name']);
		
		//edit_and_delete_buttons_html = 	'<button type="button" id="edit-rule-button" class="btn btn-warning edit-rule-button" onclick="editRule(' + object_number + ',' + rules_attribute_id + ',\'' + rules_attribute_name + '\',' + i + ')">Edit</button><br>' +
		//									'<button type="button" class="btn btn-danger delete-rule-button" onclick="deleteRule(' + object_number + ',' + rules_attribute_id + ',\'' + rules_attribute_name + '\',' + rules_list[i]['id'] + ')">Delete</button>';		
		$("#edit-and-delete-rule-buttons").html('<button type="button" id="edit-rule-button" class="btn btn-warning edit-rule-button" onclick="editRule(' + object_number + ',' + rules_attribute_id + ',\'' + rules_attribute_name + '\',' + i + ')">Edit</button><br>');
		$("#rule-selection-box").css('width','362px');
		
		var rule_details_html_string = 	'<div class="form-group">' + 
											'<label class="control-label" for="rule-text" style="margin-left:12px;margin-bottom:4px;font-size:15px;">' + rules_attribute_name + ' (t + &Delta;t) = </label>' +
											'<textarea cols="20" rows="3" class="form-control" id="rule-text">' + rules_list[i]['rule_text'] + '</textarea>' +
										'</div>' + 
										'<div id="used-attributes" class="btn-group" data-toggle="buttons">';
									
		var used_attribute_names = JSON.parse(rules_list[i]['used_attribute_names']);
		for (var j = 0; j < used_attribute_names.length; j++) {			
				rule_details_html_string +=	'<label id="used-attribute' + j + '" class="btn" onclick="usedAttributeButtonClick(\'' + used_attribute_names[j] + '\',' + j + ')">' +
												'<input type="checkbox" autocomplete="off" id="used-attribute' + j + '">' + used_attribute_names[j] +
											'</label>';
		}
		rule_details_html_string += '</div>';
		
		$("#rule-details").html(rule_details_html_string);

	}
	
	
	//== No Rule =========================================================================================	
	function noRule_buttonClick(object_number, rules_attribute_id, rules_attribute_name){
		
		$("#rule-display-right").html('');
		
		//adjust width
		var window_width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		var new_width = String(window_width - 470) + 'px';
		$('#top-left-panel').animate({width: new_width}, 200, 'linear');
		
		var rule_details_html_string = 	'<h3>No Rule</h3><br>' +
										'i.e. in the simulation the ' + rules_attribute_name + ' variable will remain constant.';		
		$("#rule-details").html(rule_details_html_string);

	}
	
	
	//== Choose Rule =========================================================================================	
	function chooseRule(object_number, rules_attribute_id, rule_id) {
		objects_dict[object_number]['object_rules'][rules_attribute_id] = rule_id;	
		if (rule_id == null) {
			$('#attribute-button' + rules_attribute_id).html('constant');
			$('#attribute-button' + rules_attribute_id).attr('style','');
		} else {
			$('#attribute-button' + rules_attribute_id).html('changing');
			$('#attribute-button' + rules_attribute_id).attr('style','background-color:rgb(156, 209, 183);');
		}
		document.getElementById("rule-x-button").click();
		$("#rule-details").html('');

	}
	
	//==========
	// Right  
	//==========
	
	function filterAvailableVariables() {
		var current_query = $('#selectAvailableVariable').val().toLowerCase();
		if (current_query !== "") {
			$("#available-variables li").hide();
			$("#available-variables li").each(function(){
				var current_keyword = $(this).text().toLowerCase();
				if (current_keyword.indexOf(current_query) >=0) {
					$(this).show();    	 	
				};
			});    	
		} else {
			$("#available-variables li").show();
		};
	}
	
	
	
	//== Button - used attribute  =========================================================================================	
	function usedAttributeButtonClick(used_attribute_name, used_attribute_number) {
	
		if (used_attribute_name in highlighted_words_dict){
			delete highlighted_words_dict[used_attribute_name];
		} else {
			highlighted_words_dict[used_attribute_name] = used_attribute_number;
		}
		
		var highlighted_words_list = [];
		var attribute_names = Object.keys(highlighted_words_dict);
		for (var i = 0; i < attribute_names.length; i++) {
			var attribute_name = attribute_names[i];
			var attribute_number = highlighted_words_dict[attribute_name];
			highlighted_words_list.push({highlight: '[' + attribute_name + ']', className: 'color' + attribute_number});
		}
		
		$("#rule-text").highlightWithinTextarea({highlight:highlighted_words_list});
		
	}
	
	
	//==========
	// New Rule  
	//==========
	
	
	//== New Rule =========================================================================================	
	function openNewRuleForm(rules_attribute_id, rules_attribute_name, object_number) {
	
		$("#rule-name").html('New Rule');
		
		var rule_details_html_string = 	'<div class="form-group row">' +
											'<label for="rule-name-input" class="col-sm-4 col-form-label">Rule Name:</label>' +
											'<div class="col-sm-8">' +
												'<input type="text" class="form-control" id="rule-name-input" placeholder="Rule Name" value="">' +
											'</div>' +
										'</div>' +
										'<div class="form-group">' + 
											'<label class="control-label" for="rule-text" style="margin-left:12px;margin-bottom:4px;font-size:15px;">' + rules_attribute_name + ' (t + &Delta;t) = </label>' +
											'<textarea cols="20" rows="3" class="form-control" id="rule-text" onclick="rememberCursorPostion()" onchange="checkTextareaForVariables(' + object_number + ')"></textarea>' +
										'</div>' + 
										'<div id="used-attributes" class="btn-group" data-toggle="buttons">' +
										'</div>';
										
		$("#rule-details").html(rule_details_html_string);
		
		
		
		available_variables_html_string = 	'<div class="available-variables-label">Available Variables:</div>' + 
											'<input type="text" class="form-control" id="selectAvailableVariable" onkeyup="filterAvailableVariables();" placeholder=" Search">' + 
											'<div id="available-variable-frame">' + 
												'<ul id="available-variables" class="input-group list-group">';
			
		var object_attributes = objects_dict[object_number]['object_attributes'];
		var attribute_ids = Object.keys(object_attributes);
		for (var i = 0; i < attribute_ids.length ; i++) {
			var attribute_id = attribute_ids[i];
			var attribute_name = object_attributes[attribute_id]['attribute_name']
			available_variables_html_string += 		'<li class="list-group-item avail-var-item"><button class="btn btn-outline-secondary avail-var-button" type="button" onclick="selectAvailableVariable(' + object_number + ',\'' + attribute_name + '\')" scope="col">' + attribute_name + '</button></li>';
		}
		for (var i = 0; i < delta_t_list.length ; i++) {
			var delta_t_name = delta_t_list[i];
			available_variables_html_string += 		'<li class="list-group-item avail-var-item"><button class="btn btn-outline-secondary avail-var-button" type="button" onclick="selectAvailableVariable(' + object_number + ',\'' + delta_t_name + '\')" scope="col">' + delta_t_name + '</button></li>';
		}
		
		
		available_variables_html_string += 		'</ul>' + 
											'</div>' +
											'<div id="cancel-and-save-rule-btn">' +
												'<button type="button" class="btn btn-secondary" id="cancelNewRuleButton" onclick="noRule_buttonClick(' + object_number + ', ' + rules_attribute_id + ')">Cancel</button>' +
												'<button type="button" class="btn btn-primary" id="chooseRuleSaveButton" onclick="saveRule(null, ' + rules_attribute_id + ',\'' + rules_attribute_name + '\',' + object_number + ')">Save Rule</button>' +
											'</div>';
		
		$("#rule-display-right").html(available_variables_html_string);		
		
		//adjust height and width
		var window_width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		var new_width = String(window_width - 670) + 'px';
		$('#top-left-panel').animate({width: new_width}, 200, 'linear');
		$('#top-panel').animate({height: '371px'}, 200, 'linear');
		
		$("#edit-and-delete-rule-buttons").html('');
		$("#rule-selection-box").css('width','100%');
		


	}	
		
	//== New Rule - Textarea stuff  =========================================================================================	
	function rememberCursorPostion() {
		var myElement = document.getElementById('rule-text');
		var startPosition = myElement.selectionStart;
		var endPosition = myElement.selectionEnd;
		
		new_rule_cursor_position = {'startPosition':startPosition, 'endPosition':endPosition};	
	}
	
	
	function selectAvailableVariable(object_number, attribute_name) {
		var rule_text = document.getElementById('rule-text').value;
		var new_rule_text = rule_text.substring(0, new_rule_cursor_position['startPosition']) + '[' + attribute_name + ']' + rule_text.substring(new_rule_cursor_position['endPosition'], rule_text.length);
		document.getElementById('rule-text').value = new_rule_text;
		
		checkTextareaForVariables(object_number);
	}
	
	
	function checkTextareaForVariables(object_number) {
		var rule_text = document.getElementById('rule-text').value;
		new_rule_used_attribute_names = [];
		new_rule_used_attribute_ids = [];
		var used_attributes_html_string = '';
		
		
		var object_attributes = objects_dict[object_number]['object_attributes'];
		var attribute_ids = Object.keys(object_attributes);
		var attribute_names = []
		for (var i = 0; i < attribute_ids.length ; i++) {
			attribute_names.push(object_attributes[attribute_ids[i]]['attribute_name']);
		}
		attribute_names = attribute_names.concat(delta_t_list);
		for (var i = 0; i < attribute_names.length ; i++) {
			var attribute_name = attribute_names[i];
			if (rule_text.indexOf('[' + attribute_name + ']') !== -1) {
				if (!delta_t_list.includes(attribute_name)) {
						new_rule_used_attribute_ids.push(attribute_ids[i]);
				}
				new_rule_used_attribute_names.push(attribute_name);
				
				used_attributes_html_string +=	'<label id="used-attribute' + i + '" class="btn" onclick="usedAttributeButtonClick(\'' + attribute_name + '\',' + i + ')">' +
													'<input type="checkbox" autocomplete="off" id="used-attribute' + i + '">' + attribute_name +
												'</label>';
			}
		}
		$('#used-attributes').html(used_attributes_html_string);
	}

	

	//== Save New Rule  ================================================================================================================	
	
	function saveRule(rule_id, rules_attribute_id, rules_attribute_name, object_number) {
		var rule_name = document.getElementById('rule-name-input').value;
		var rule_text = document.getElementById('rule-text').value;
		
		// basic checks
		// I know it is idiotic to do security checks on the client side - I'll move this to the backend asap
		if (rule_name.length == 0) {
			alert('Rule Name required');
			return;
		} else if (rule_text.length >= 500) {
			alert('The Rule is ' + rule_text.length + ' characters long. Maximally 500 are allowed.');
			return;
		}
		
		// Checking the Rule Text - only the commands in permitted_substrings are allowed==================
		//1 - removing/replacing delta_t
		var executable = rule_text;
		var stripped_rule_text = rule_text;
		for (var i = 0; i < delta_t_list.length; i++) {
			var search_value = '[' + delta_t_list[i] + ']';
			executable = executable.split(search_value).join('(delta_t/' + timestep_units[i] +')');
			stripped_rule_text = stripped_rule_text.split(search_value).join(' ');
		}
		
		//2 - removing/replacing variables
		for (var i = 0; i < new_rule_used_attribute_ids.length; i++) {
			var search_value = '[' + new_rule_used_attribute_names[i] + ']';
			var data_type = objects_dict[object_number]['object_attributes'][parseInt(new_rule_used_attribute_ids[i])]['attribute_data_type'];
			if (['string', 'date'].includes(data_type)){
				var replacement = '"attr' + String(new_rule_used_attribute_ids[i]) + '"';
			} else {
				var replacement = 'attr' + String(new_rule_used_attribute_ids[i]);
			}
			executable = executable.split(search_value).join(replacement);
			stripped_rule_text = stripped_rule_text.split(search_value).join(' ');
			//stripped_rule_text = stripped_rule_text.replace(new RegExp(search_value, 'g'), '');
		}
				
		//3 - removing function-characters
		var permitted_characters = ['\\(','\\)','\\[','\\]','\\{','\\}','\\+','\\*','\\.','-','/','%','.',',',':'] 
		for (var i = 0; i < permitted_characters.length; i++) {
			stripped_rule_text = stripped_rule_text.replace(new RegExp(permitted_characters[i], 'g'), ' ');
		}
		
		//4 - removing permitted commands
		var permitted_substrings = ['if','and','or']
		for (var i = 0; i < permitted_substrings.length; i++) {
			stripped_rule_text = stripped_rule_text.replace(new RegExp(permitted_substrings[i], 'g'), '');
		}
		
		//5 - if there's still something remaining: ERROR
		stripped_rule__remaining_words = stripped_rule_text.split(" ");
		for (var i =0; i < stripped_rule__remaining_words.length; i++){
			if (stripped_rule__remaining_words[i] == ''){
				stripped_rule__remaining_words.splice(i, );
			}
		}
		if (stripped_rule__remaining_words.length > 0) {
			alert('The following commands are not permitted in the Rule: ' + stripped_rule__remaining_words.join(','));
			return;
		}
		
		
		
		// Save Rule in Backend  ==================
		request_body = {
			'name': rule_name,
			'attribute_id': rules_attribute_id,
			'number_of_times_used': 0,
			'used_attribute_ids': new_rule_used_attribute_ids,
			'used_attribute_names': new_rule_used_attribute_names,
			'rule_text': rule_text,
			'executable': executable
		}
		
		if (rule_id != null) {request_body['rule_id'] = rule_id;} //this triggers the exiting rule to be modified instead of a new rule to be created
		
		 
		var xmlhttp = new XMLHttpRequest();       
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				
				var response_message = this.responseText;
				if (response_message == "success") {
					makeRulesDropdown(object_number, rules_attribute_id, rules_attribute_name);
					$("#rule-display-right").html('');		
					
					//adjust width
					var window_width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
					var new_width = String(window_width - 470) + 'px';
					$('#top-left-panel').animate({width: new_width}, 200, 'linear');
				} else {
					alert(response_message);
				}
			}
		};
		
		xmlhttp.open("POST", "/tool/save_rule/");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		xmlhttp.send(JSON.stringify(request_body));	
		
	
	}
	
	//==========
	// Edit Rule  
	//==========
	
	function editRule(object_number, rules_attribute_id, rules_attribute_name, rule_number) {
		
		rule_id = rules_list[rule_number]['id'];
		rule_name = rules_list[rule_number]['name'];
		used_attribute_ids = rules_list[rule_number]['used_attribute_ids'];
		used_attribute_names = rules_list[rule_number]['used_attribute_names'];
		rule_text = rules_list[rule_number]['rule_text'];
		
		var rule_details_html_string = 	'<div class="form-group row">' +
											'<label for="rule-name-input" class="col-sm-4 col-form-label">Rule Name:</label>' +
											'<div class="col-sm-8">' +
												'<input type="text" class="form-control" id="rule-name-input" placeholder="Rule Name" value="' + rule_name + '">' +
											'</div>' +
										'</div>' +
										'<div class="form-group">' + 
											'<label class="control-label" for="rule-text" style="margin-left:12px;margin-bottom:4px;font-size:15px;">' + rules_attribute_name + ' (t + &Delta;t) = </label>' +
											'<textarea cols="20" rows="3" class="form-control" id="rule-text" onclick="rememberCursorPostion()" onchange="checkTextareaForVariables(' + object_number + ')">' + rule_text + '</textarea>' +
										'</div>' + 
										'<div id="used-attributes" class="btn-group" data-toggle="buttons">' +
										'</div>';
										
		$("#rule-details").html(rule_details_html_string);
		
		
		
		available_variables_html_string = 	'<div class="available-variables-label">Available Variables:</div>' + 
											'<input type="text" class="form-control" id="selectAvailableVariable" onkeyup="filterAvailableVariables();" placeholder=" Search">' + 
											'<div id="available-variable-frame">' + 
												'<ul id="available-variables" class="input-group list-group">';
			
		var object_attributes = objects_dict[object_number]['object_attributes'];
		var attribute_ids = Object.keys(object_attributes);
		for (var i = 0; i < attribute_ids.length ; i++) {
			var attribute_id = attribute_ids[i];
			var attribute_name = object_attributes[attribute_id]['attribute_name']
			available_variables_html_string += 		'<li class="list-group-item avail-var-item"><button class="btn btn-outline-secondary avail-var-button" type="button" onclick="selectAvailableVariable(' + object_number + ',\'' + attribute_name + '\')" scope="col">' + attribute_name + '</button></li>';
		}
		for (var i = 0; i < delta_t_list.length ; i++) {
			var delta_t_name = delta_t_list[i];
			available_variables_html_string += 		'<li class="list-group-item avail-var-item"><button class="btn btn-outline-secondary avail-var-button" type="button" onclick="selectAvailableVariable(' + object_number + ',\'' + delta_t_name + '\')" scope="col">' + delta_t_name + '</button></li>';
		}
		
		available_variables_html_string += 		'</ul>' + 
											'</div>' +
											'<div id="cancel-and-save-rule-btn">' +
												'<button type="button" class="btn btn-secondary" id="cancelNewRuleButton" onclick="noRule_buttonClick(' + object_number + ', ' + rules_attribute_id + ')">Cancel</button>' +
												'<button type="button" class="btn btn-primary" id="chooseRuleSaveButton" onclick="saveRule(' + rule_id + ', ' + rules_attribute_id + ',\'' + rules_attribute_name + '\',' + object_number + ')">Save Rule</button>' +
											'</div>';
		
		$("#rule-display-right").html(available_variables_html_string);		
		
		//adjust heights and widths
		var window_width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		var new_width = String(window_width - 670) + 'px';
		$('#top-left-panel').animate({width: new_width}, 200, 'linear');
		$('#top-panel').animate({height: '371px'}, 200, 'linear');
		
		$("#edit-and-delete-rule-buttons").html('');
		$("#rule-selection-box").css('width','100%');
		
		checkTextareaForVariables(object_number);
		
		
	
		
		
		
	}
	
	
	//==========
	// Delete Rule  
	//==========
	function deleteRule(object_number, rules_attribute_id, rules_attribute_name, rule_id) {
		
		var xmlhttp = new XMLHttpRequest();       	
		xmlhttp.open("POST", "/tool/delete_rule/");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		xmlhttp.send(JSON.stringify({'rule_id': rule_id}));	
		
		makeRulesDropdown(object_number, rules_attribute_id, rules_attribute_name);
	}
	
	
	

	
	//========================================================================
	//===============    RE-RUN SIMULATION      ==============================
	//========================================================================
	
	function run() {
		saveSimulation();
		
		form_html_string =	"<form role='form' action='' method='post' class='form' enctype='multipart/form-data'>" + 
								"{% csrf_token %}" +
							"</form>";
		$(form_html_string).appendTo("body").submit();
		
	}
	
	
	function saveSimulation() {
		
		request_body = {
			'simulation_id': {{ simulation_model.id }},
			'objects_dict': {{ simulation_model.objects_dict|safe }},
			'object_type_counts': {{ simulation_model.object_type_counts|safe }},
			'total_object_count': {{ simulation_model.total_object_count|safe }},
			'number_of_additional_object_facts': {{ simulation_model.number_of_additional_object_facts }},
			'simulation_start_time': {{ simulation_model.simulation_start_time }},
			'simulation_end_time': {{ simulation_model.simulation_end_time }},
			'timestep_size': {{ simulation_model.timestep_size }}
		}
		
		var xmlhttp = new XMLHttpRequest();       
		xmlhttp.open("POST", "/tool/save_changed_simulation/");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		xmlhttp.send(JSON.stringify(request_body));	
	}
	
	

	//========================================================================
	//========================    MAIN      ==================================
	//========================================================================
	
	//there are errors, when you try to load the highlight-within-textarea.js library the normal way ('<script ...')
	//with this is a workaround it however works:
	$.getScript( "{% static 'js/jquery.highlight-within-textarea.js' %}", function( data, textStatus, jqxhr ) {});
	

	// make the Top Panel resizable
	 $("#top-panel").resizable({
	   handleSelector: "#splitter",
	   resizeHeight: true
	 });

	 $("#bottom-panel").resizable({
	   handleSelector: ".splitter-horizontal",
	   resizeWidth: true
	 });
	 

	 
</script>


{% endblock %}



