{% extends 'layouts/base_tool.html' %}

{% block title %}
	Edit Simulation {{ model.name }}
{% endblock %}

{% block additionalcss %}{% endblock %}

{% block content %}
	<br><br>
	<ul>
		<li><a href="{% url 'query_data' %}">query data</a></li>
		<li><a href="{% url 'upload_data1_new' %}">upload data</a></li>
		<!--<li><a href="{% url 'new_model' %}">new model</a></li>-->
		{% for model in models %}
			<li><a href="{% url 'edit_model' id=model.id %}">edit model {{ model.name }}</a></li>
		{% endfor %}
	</ul>
		

		{% include "tree_of_knowledge_frontend/includes/instruction_video_modal.html" with url="https://www.youtube-nocookie.com/embed/ZVlZMOB-Sq0" %} 
		
		
{% endblock %}



