{% load staticfiles %}
<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <!--<meta content="IE=edge" http-equiv="X-UA-Compatible">-->
  <!--<meta content="width=device-width, initial-scale=1" name="viewport">-->
  <title>Human Resource Chart</title>
  <!--<link href="https://playground.anychart.com/gallery/Gantt_General_Features/Resource_Gantt_Chart_with_Adaptive_Labels_Format/iframe" rel="canonical">-->
  <!--<meta content="AJAX Chart,Chart from JSON,Gantt Chart,Gantt Resource Chart,JSON Chart,JSON Plot,Project Management" name="keywords">-->
  <!--<meta content="AnyChart - JavaScript Charts designed to be embedded and integrated" name="description">-->
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
  <style>html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}</style>
 </head>
 <body>
  <div id="container"></div>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-gantt.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script type="text/javascript">anychart.onDocumentReady(function () {

    anychart.data.loadJsonFile('{% static "webservice files/anychart_test_data.json" %}', function (data) {
        // create data tree
        var treeData = anychart.data.tree(data, 'as-table');

        // create resource gantt chart
        var chart = anychart.ganttResource();

        // set data for the chart
        chart.data(treeData);

        chart.rowSelectedFill('#D4DFE8')
                .rowHoverFill('#EAEFF3')
                // set start splitter position settings
                .splitterPosition(150);

        // get chart data grid link to set column settings
        var dataGrid = chart.dataGrid();

        // set first column settings
        dataGrid.column(0)
                .title('#')
                .width(30)
                .labels({hAlign: 'center'});

        // set second column settings
        dataGrid.column(1)
                .title('Person')
                .width(120);

        var tl = chart.getTimeline();
        // set base stroke
        tl.elements().stroke('0.5 black');
        // set base labels settings
        tl.elements().labels()
                .enabled(true)
                .fontColor('#fff')
                // format labels
                .format(function () {
					var name = this.period.periodCustomName || ''; 
					return name;
                });

        // set container id for the chart
        chart.container('container');

        // initiate chart drawing
        chart.draw();

        // zoom chart to specified date
        chart.zoomTo(1191168000000, 1201795200000);
    });
});</script>
 </body>
</html>