{% extends 'layouts/base_tool.html' %}

{% block title %}
	Tree of Knowledge - Main Menu
{% endblock %}

{% block additionalcss %}
<style>

	
	#design-simulate-button-group {
		position:absolute;
		top: 58px;
		left:45%;
	}
	
	.design-simulate-button {
		border: 1px solid gray;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		background: linear-gradient(180deg,rgb(252, 252, 252) 0%,rgb(233, 233, 233) 96.48217237937519%);
		padding: 5px 18px;
	}
	
	.design-simulate-button.active {
		background: linear-gradient(180deg,rgb(161, 161, 161) 0%,rgb(170, 170, 170) 96.48217237937519%);
		box-shadow: inset 1px 1px 02px 01px rgba(0%,0%,0%,0.082);
	}
	
</style>
{% endblock %}

{% block content %}


	<div id="design-simulate-button-group" class="btn-group" data-toggle="buttons">		
		<label class="btn design-simulate-button active" onclick="design()">
			<input type="checkbox" autocomplete="off" id="design-button">Design
		</label>
		<label class="btn design-simulate-button" onclick="simulate()">
			<input type="checkbox" autocomplete="off" id="design-button">Simulate
		</label>
	</div>
		
		
		
		{% include "tree_of_knowledge_frontend/includes/instruction_video_modal.html" with url="https://www.youtube-nocookie.com/embed/ZVlZMOB-Sq0" %} 
		
		
{% endblock %}

