{% extends 'layouts/base_tool.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
	Edit Simulation {{ model.name }}
{% endblock %}

{% block additionalcss %}


<script src="{% static 'js/attribute-dropdown-functions.js' %}"></script>



<style>
		
		/* --- Additional Attribute Drop Down ----------------------------------- */
		
		.list-group.drop-down-display {
			margin-bottom:3px;
			max-height: 250px;
			overflow-y: scroll;
		}

		.dropdown {
			margin-left:2px;
		}
		
		.dropdown-item {
			padding: 6px 10px;
			border-radius:2px;
			width:150px
		}
		
		.dropdown-item-button {
			padding: 6px 10px;
			border-radius:2px;
			width:150px;
			margin-left:17px;
			margin-bottom:3px;
			border-radius:5px;
		}
		
</style>
{% endblock %}

{% block content %}

	 <div id="item-types" class="context-click-area" data-attribute-id=1>Right Click Here</div>
		 
		 <ul id="drop-down-display0" class="list list-group drop-down-display">
			<li class="list-group-item narrow"><button class="name dropdown-item btn btn-secondary" type="button" onclick="selectAdditionalAttribute(0, this.innerHTML, 1)" data-attribute-id=1>Country</button></li>'
			<li class="list-group-item narrow"><button class="name dropdown-item btn btn-secondary" type="button" onclick="selectAdditionalAttribute(0, this.innerHTML, 2)" data-attribute-id=2>Year</button></li>'
			<li class="list-group-item narrow"><button class="name dropdown-item btn btn-secondary" type="button" onclick="selectAdditionalAttribute(0, this.innerHTML, 3)" data-attribute-id=3>Count</button></li>'
			<li class="list-group-item narrow"><button class="name dropdown-item btn btn-secondary" type="button" onclick="selectAdditionalAttribute(0, this.innerHTML, 4)" data-attribute-id=4>Rate</button></li>'
			<li class="list-group-item narrow"><button class="name dropdown-item btn btn-secondary" type="button" onclick="selectAdditionalAttribute(0, this.innerHTML, 5)" data-attribute-id=5>Source</button></li>'
		 </ul>
           

	
	{% include "tree_of_knowledge_frontend/includes/create_attribute_modal.html" %} 
	{% include "tree_of_knowledge_frontend/includes/edit_attribute_modal.html" %} 

	
	
{% endblock %}
