{% extends 'layouts/base_tool.html' %}
{% load staticfiles %}

{% block title %}
	Tree of Knowledge - Main Menu
{% endblock %}

{% block additionalcss %}
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
	<script type="text/javascript" src="{% static 'js/jquery.highlight-within-textarea.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/jquery.highlight-within-textarea.css' %}">
	
			<style>
			.hwt-content mark.color0 { background-color:rgb(96, 143, 202);}
			.hwt-content mark.color1 { background-color:rgb(49, 148, 76);}
			.hwt-content mark.color2 { background-color:rgb(147, 116, 209);}
			.hwt-content mark.color3 { background-color:rgb(200, 91, 103);}
			.hwt-content mark.color4 { background-color:rgb(198, 201, 92);}
			.hwt-content mark.color5 { background-color:rgb(184, 61, 161);}
			.hwt-content mark.color6 { background-color:rgb(190, 136, 63);}
			.hwt-content mark.color7 { background-color:rgb(125, 195, 75);}
			.hwt-content mark.color8 { background-color:rgb(193, 72, 69);}
			.hwt-content mark.color9 { background-color:rgb(169, 99, 56);}
			.hwt-content mark.color10 { background-color:rgb(129, 213, 170);}
			.hwt-content mark.color11 { background-color:rgb(73, 106, 194);}
			.hwt-content mark.color12 { background-color:rgb(154, 51, 135);}

		</style>
{% endblock %}

{% block content %}

	<div class="form">
		<div class="form-group">
			<label class="control-label" for="rule-text">Rule</label>
			<textarea cols="20" rows="3" class="form-control" id="rule-text">This is some example text. bla bla bla.</textarea>
		</div>
	</div>
	
	<div class="form">
		<div class="form-group">
			<label class="control-label" for="rule-text2">Rule</label>
			<textarea cols="20" rows="3" class="form-control" id="rule-text2">Potato potato tomato potato.</textarea>
		</div>
	</div>
		

<script>
	highlighted_words = [
        {
            highlight: 'bla',
            className: 'color0'
        },
        {
            highlight: 'This',
            className: 'color1'
        }
    ]
	$("#rule-text").highlightWithinTextarea({highlight:highlighted_words});
	//$("#rule-text").highlightWithinTextarea({highlight:'This', className: 'blue'});
	
	$('#rule-text2').highlightWithinTextarea({
					highlight: 'potato'
				});
</script>		
		
{% endblock %}