{% extends 'layouts/base_tool.html' %}'
{% load staticfiles %}

{% block title %}
	Tree of Knowledge - Main Menu
{% endblock %}

{% block additionalcss %}
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-3.4.0.min.css' %}" />
	



{% endblock %}	

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            Examples of list groups in multiple columns. Pros and cons of each scenario.
        </div>
        <div class="col-6">
            <!-- method 1 - sizing classes -->
            <div class="list-group d-flex flex-row flex-wrap">
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Alerts
              </a>
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Badges
              </a>
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Breadcrumbs
              </a>
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Buttons
              </a>
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Cards
              </a>
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Modals
              </a>
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Lists
              </a>
                <a href="#alerts" class="list-group-item w-50 list-group-item-action">
                Tabs
              </a>
            </div>
        </div>
        <hr class="w-100">
        <div class="col-6">
            <!-- method 2 - seperate list groups in gutterless columns -->
            <div class="row no-gutters">
                <div class="col-6">
                    <div class="d-flex flex-row flex-wrap">
                        <a href="#alerts" class="list-group-item list-group-item-action">
                            Alerts
                          </a>
                        <a href="#alerts" class="list-group-item list-group-item-action">
                            Badges
                          </a>
                            <a href="#alerts" class="list-group-item list-group-item-action">
                            Breadcrumbs
                          </a>
                        <a href="#alerts" class="list-group-item list-group-item-action">
                            Buttons
                          </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-row flex-wrap">
                        <a href="#alerts" class="list-group-item list-group-item-action">
                            Cards
                          </a>
                        <a href="#alerts" class="list-group-item list-group-item-action">
                            Modals
                          </a>
                        <a href="#alerts" class="list-group-item list-group-item-action">
                            Lists
                          </a>
                        <a href="#alerts" class="list-group-item list-group-item-action">
                            Tabs
                          </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- method 3 with cards  -->
            <div class="d-flex flex-row flex-wrap ">
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Alerts
              </a>
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Badges
              </a>
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Breadcrumbs
              </a>
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Buttons
              </a>
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Cards
              </a>
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Modals
              </a>
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Lists
              </a>
                <a href="#alerts" class="card p-2 px-3 w-50 list-group-item-action">
                Tabs
              </a>
            </div>
        </div>
        <hr class="w-100">
        <div class="col-6">
            <!-- method 4 - just use border, width and padding -->
            <div class="d-flex flex-row flex-wrap">
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    1 Alerts
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    2 Badges
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    3 Breadcrumbs
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    4 Buttons
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    5 Cards
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    6 Modals
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    7 Tabs
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    8 Tables
                </a>
            </div>
        </div>
        <div class="col-6">
            <!-- method 4 - just use border, width and padding -->
            <div class="d-flex flex-column flex-nowrap">
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    1 Alerts
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    2 Badges
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    3 Breadcrumbs
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    4 Buttons
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    5 Cards
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    6 Modals
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    7 Tabs
                </a>
                <a href="#alerts" class="border p-2 w-50 list-group-item-action">
                    8 Tables
                </a>
            </div>
        </div>
        <hr class="w-100">
    </div>
</div>



		
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-gantt.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
 

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>



{% endblock %}



