{% extends 'layouts/base_tool.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
	Edit Simulation {{ model.name }}
{% endblock %}

{% block additionalcss %}


<style>
		

		
		/* ---  Instructions (on the left) -------------------------------------------- */
		
		.instructions > ul > li {
		    margin-bottom:10px;
		}
		
		.instructions > b {
			font-weight:600;
		}

		/* ---  Object type info (on the right) -------------------------------------------- */
		
		.info-panel {
			padding-right:10px;
			margin-top:-10px;
		}
		
		
		#object-info {
			max-height: calc(100vh - 315px);
			overflow:auto;
			scroll-padding-bottom: 0px;
		}
		
		
		h3 {
			text-align:center
		}
		
		.list-group-row {
			padding:0;
			margin:0; 
			border: 1px solid #ddd;
			border-radius: 4px;
		}
		
		.list-group-right-column {
			padding:0;
		}
		
		.list-group-left-column {
			padding:0;
			text-align:center;
		}
		
		.list-group-left-column > span {
			vertical-align: middle; 
			display: inline-block;
			transform: rotate(270deg);
		}
		
		.list-group {
			margin-bottom:0;

		}
		
		.row {
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display:         flex;
		}
		.row > [class*='col-'] {
			 display: flex;
			 flex-direction: column;
		}
		
		.narrow {
			padding-top:4px;
			padding-bottom:4px;
		}
		
		.btn-outline-dark {
			border-color: rgb(185, 185, 185);
			color: rgb(85, 85, 85);
			background-color: rgb(225, 225, 225);
			padding-top:5px;
			padding-bottom:5px;
	
		}
		
		/* --- Additional Attribute Drop Down -------------------------------------------- */
		.dropdown-menu {
			padding:0;
		}
		
		.search {
			height:40px;
			border-radius:4px;
			border: 1px solid #999;
		}
		
		div.inline { 
			float:left; 
			margin-right: 5px;
		}
		
		.broad {
			padding-top: 5px;
			padding-bottom: 5px;
			height:48.23px;
		}
		
		.dropdown-item {
			padding: 6px 10px;
			border-radius:2px;
			width:150px
		}
		
		
</style>
{% endblock %}

{% block content %}

	<br>
	<h1>4 - Meta data specification</h1>
	<br>
		{% for error in errors %}
			<div class="error">{{ error }}</div><br>
		{% endfor %}

	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 instructions">
				<br> &nbsp;
				<br> &nbsp;
				<br> &nbsp;
				<br>
                 <b>Please sepcify things that hold for all entities of the table. </b>
				 <br> &nbsp;
				 <br>
				 This might include:<br>
				 <ul>
					<li>Commonalities of the sampled subset</li>
					<li>the environment of the entities <br>(e.g. location, environment)</li>
					<li>The state of the entities when they were measured <br>(e.g. state)</li>
					<li>Things that depend on the sampling procedure <br>(e.g. was_willing_to_participate_in_survey = true)</li>
				 </ul>
			</div>
			<div class="col-sm-7">
				<form role="form" action="" method="post" class="info-panel form" enctype="multipart/form-data">
				{% csrf_token %}
					<div id="jstree-result">
						{{ uploaded_dataset.entire_objectInfoHTMLString|safe }}
					</div>
					<div class="row list-group-row row-eq-height" id="additional_facts">  
						<div class="col-sm-1 list-group-left-column" id="additional_facts" ><span style="margin-left:-42px;margin-top:44px;width:136px;height:50px">additional&nbsp;facts on the objects</span></div>
						<div class="col-sm-11 list-group-right-column">  
							<ul class="list-group" id="additional_facts_list"> 
								<li class="list-group-item broad" > <!-- Additional Attribute 1 -->
									<div>
										<div class="dropdown inline">
											<button class="btn btn-secondary dropdown-toggle" type="button" id="attributeMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attribute &nbsp;<i class="fas fa-caret-down fa-sm"></i></button>
											<div class="dropdown-menu" aria-labelledby="attributeMenu1">
												<div id="attributeList1">
													<input class="search" placeholder=" Search" />
													<ul class="list list-group"></ul>
												</div>
											</div>
										</div>
										<input type="hidden" id="attribute1" name="attribute1" value="">
										<div class="form-group inline">
											<select class="form-control form-control-lg" id="operator1" name="operator1">
												<option value="=" selected>=</option>
												<option value=">">></option>
												<option value="<"><</option>
											</select>
										</div> 
										<div class="form-group inline">
											<input type="text" class="form-control" id="value1" name="value1" value="" size="15">
										</div>
									</div>
								</li>
								<li class="list-group-item broad" > <!-- Additional Attribute 2 -->
									<div style="position:absolute">
										<div class="dropdown inline" >
											<button class="btn btn-secondary dropdown-toggle" type="button" id="attributeMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attribute &nbsp;<i class="fas fa-caret-down fa-sm"></i></button>
											<div class="dropdown-menu" aria-labelledby="attributeMenu2">
												<div id="attributeList2">
													<input class="search" placeholder=" Search" />
													<ul class="list list-group"></ul>
												</div>
											</div>
										</div>
										<input type="hidden" id="attribute2" name="attribute2" value="">
										<div class="form-group inline">
											<select class="form-control form-control-lg" id="operator2" name="operator2">
												<option value="=" selected>=</option>
												<option value=">">></option>
												<option value="<"><</option>
											</select>
										</div> 
										<div class="form-group inline">
											<input type="text" class="form-control" id="value2" name="value2" value="" size="15">
										</div>
									</div>
								</li>
								<li class="list-group-item narrow" id="create-new-fact-button">  	<button type="button" class="btn btn-outline-dark" onclick="newAdditionalFactInput('additional_fact');" ><i class="fas fa-plus"></i></button> </li>
							</ul>  
						</div>  
					</div> 
					<br>
					<button type="submit" class="btn btn-primary pull-right">
						<span class="glyphicon glyphicon-star"></span> Next
					</button>
				</form> 
			</div>
			
		</div>
	  </div>
	

	

	
	<script src="{% static 'js/list.min.js' %}"></script>

<script>

	

	/*========================================================================*/
	/*=====================    MAIN FUNCTIONS      ===========================*/
	/*========================================================================*/
	
		
	
	/*=============  MAKE NEW ADDITIONAL FACT LIST ITEM  ================================================================ */
	var number_of_additional_facts = 2
	var number_of_additional_object_facts = 2;
	
	function newAdditionalFactInput(fact_type) { 
	
		if (fact_type =="object_fact") {
			number_of_additional_object_facts += 1;
			fact_number = 100 + number_of_additional_object_facts
			var insert_before = '#create-new-object-fact-button'
		} else {
			number_of_additional_facts += 1;
			fact_number = number_of_additional_facts
			var insert_before = '#create-new-fact-button'
		}
		
		var additionalFactHTMLString = 	'<li class="list-group-item broad" >' +
											'<div style="position:absolute">' + 
												'<div class="dropdown inline" >' + 
													'<button class="btn btn-secondary dropdown-toggle" type="button" id="attributeMenu' + fact_number + '" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attribute &nbsp;<i class="fas fa-caret-down fa-sm"></i></button>' + 
													'<div class="dropdown-menu" aria-labelledby="attributeMenu' + fact_number + '">' + 
														'<div id="attributeList' + fact_number + '">' + 
															'<input class="search" placeholder=" Search" />' + 
															'<ul class="list list-group"></ul>' + 
														'</div>' + 
													'</div>' + 
												'</div>' + 
												'<input type="hidden" id="attribute' + fact_number + '" name="attribute' + fact_number + '" value="">' + 
												'<div class="form-group inline">' + 
													'<select class="form-control form-control-lg" id="operator' + fact_number + '" name="operator' + fact_number + '">' + 
														'<option value="=" selected>=</option>' + 
														'<option value=">">></option>' + 
														'<option value="<"><</option>' + 
													'</select>' + 
												'</div> ' + 
												'<div class="form-group inline">' + 
													'<input type="text" class="form-control" id="value' + fact_number + '" name="value' + fact_number + '" size="15">' + 
												'</div>' + 
											'</div>' +
										'</li>';
										
		$(additionalFactHTMLString).insertBefore(insert_before);
		
		makeObjectsAdditionalAttributesDropdown( "{{ uploaded_dataset.object_type }}" , number_of_additional_facts);
	}
	
	
		/*=============  POPULATE AdditionalAttribute-DROPDOWNS  ================================================================ */
	
	function makeObjectsAdditionalAttributesDropdown(object_type, attribute_number){
	
		var xhttp = new XMLHttpRequest();       
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

				//the data
				var options = {
				  valueNames: [ 'name', 'points' ],
				  item: '<li class="list-group-item narrow"><button class="name dropdown-item btn btn-secondary" type="button" onclick="selectAdditionalAttribute(' + attribute_number + ', this.innerHTML)"></button></li>'
				};
				var possible_attributes = JSON.parse(this.responseText);
				
				//create list with possible_attributes in drop down and sort it 
				var userList = new List('attributeList' + attribute_number, options, possible_attributes);
				userList.sort("points", {order: "desc"});
				
			}
		};

		xhttp.open("GET", "/tool/get_possible_attributes?object_type=" + object_type , true);
		xhttp.send();
	}


	/*=============  SELECT DROPDOWN OPTION  ================================================================ */
	function selectAdditionalAttribute(attribute_number , attribute_name) {
		$('#attributeMenu' + attribute_number).html(attribute_name + ' &nbsp;<i class="fas fa-caret-down fa-sm"></i>');
		$('#attribute' + attribute_number).attr('value', attribute_name);									
	}
	
	
	
	
	window.onload = function() {
	
	/*========================================================================*/
	/*=========================      MAIN      ===============================*/
	/*========================================================================*/
		// horizontally align object-type-labels at the left side of the object-infos
		$('#object-info').children('div').each(function () {
			left_column = $(this).children('div').first()
			height = left_column.height()
			left_column.children('span').attr("style", "line-height:" + height + "px;");
		});

		
		//For all Attribute-dropdowns: load a list of possible_attributes (for the selected object_type)
		for (var i = 1; i <= number_of_additional_facts; i++) {
			makeObjectsAdditionalAttributesDropdown( "{{ uploaded_dataset.object_type }}" , i);
		}
		
			
	};
</script>


	
{% endblock %}
