{% extends 'layouts/base_tool.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
	Edit Simulation {{ model.name }}
{% endblock %}

{% block additionalcss %}

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-3.4.0.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />



<style>
		
		h1 {
			margin-bottom:25px;
		}
		
		.list-group-item {
			display: inline-block;
			padding: 6px 7px;
		}
		
		.list-group {
			margin-bottom: 40px;
		}
		

		/* --- Table box ----------------------------------------------------------- */
		
		
		.box {
			display:inline-block;
			top: 40px;
			left: 0;
			border: 1px solid rgb(210, 210, 210);
			padding:2px;
		
		}
		
		.overflowing-content {
		    height: 100%;
			overflow: auto;
		}
		
		.table-box {
			width: max-content;
			width: intrinsic;           /* Safari/WebKit uses a non-standard name */
            width: -moz-max-content;    /* Firefox/Gecko */
            width: -webkit-max-content; /* Chrome */
		}
		
		#uploaded_table {
			margin-left: 6px;
			margin-right: 4px;
			margin-bottom:0px;
			background-color:rgb(240, 240, 240);
		}
		
		/* --- Table format -------------------------------------------------------- */
        .table {
			margin-bottom:0px;
			width: 2705px;
			overflow: auto;
        }
		

        .table thead, .table tbody, .table tr, .table td, .table th { display: block; text-align:left; }

        .table  tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

		
        .table thead th {
            height: max-content;
			height: intrinsic;           /* Safari/WebKit uses a non-standard name */
            height: -moz-max-content;    /* Firefox/Gecko */
            height: -webkit-max-content; /* Chrome */
        }
		
		
		.table thead {
			margin-left:20px;
		}
		
		.table thead > tr > th {border-bottom: 0;}

        .table tbody {
            height: calc(100vh - 495px);
            overflow-y: auto;
			direction: rtl;
        }

        .table tbody td, .table thead th {
            width: 180px;
            float: left;
        }
		
		uploaded_table th, uploaded_table tr {
			border-left:1px solid black;
		}
		
		.table thead > tr > ts:hover {
			background-color: rgb(225, 225, 225);
		}

		
</style>
{% endblock %}

{% block content %}
	
	{% for error in errors %}
		<div class="error">{{ error }}</div><br>
	{% endfor %}
	<br>
	<h1>6 - Match to entities in the knowledge base</h1>
	Does the table contain columns that can be used for identifying it's entities? <br>
	<ul>
		<li>&nbsp;&nbsp;Yes&nbsp;&nbsp; -> &nbsp;please select them </li>
		<li>&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp; -> &nbsp;press 'Next' </li>
	</ul>
	<br>
	
	<div class="form">
		<div class="form-group">
			<div class="box">
				<div class="overflowing-content">			
					<div class="table-box">
						<div id="uploaded_table"></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	


	
	
	<br>
	<br>
	


	
	<div id="useful-things" style="display:none;">
		<div id="attribute-options"></div>
		<div id="object_hierachy_tree">{{ object_hierachy_tree }}</div>
	</div>
	

	
	

<script>


	// THE DATA
	var data_table_json = {{ uploaded_dataset.data_table_json | safe }}
	
	// GLOBAL VARIABLES
	var table_headers = data_table_json["table_header"]
	var table_body = data_table_json["table_body"]
	var time_granularity = 2;

	
	
	
	
	
	//====================================================================================================
	//====  Draw Main window  =================================================================================
	//====================================================================================================
	
	
	//===  Draw the table  =============================================================================	
    function drawTheTable() {

		var table_html_string = '<table id="data-table" class="table table-sm" style="width:' + (181*table_headers.length + 20) + 'px;">' +
									'<thead>' +
										'<tr>';

		for (var i = 0; i < table_headers.length; i++) {
			table_html_string +=  			'<th scope="col" contenteditable="true">' + table_headers[i] + '</th>';
		}
		
		table_html_string +=  			'</tr>' +
									'</thead>' +
									'<tbody>';
		
		for (var i = 0; i < table_body[0].length; i++) {
			table_html_string +=  		'<tr>';
			for (var j = 0; j < table_headers.length; j++) {
				table_html_string +=  			'<td>' + table_body[j][i] + '</td>';
			}
			table_html_string +=  		'</tr>';
		}
		
		table_html_string +=  		'</tbody>' +
								'</table>';
									
		$("#uploaded_table").html(table_html_string);
	}

	

						
	//====================================================================================================
	//====  Main  ========================================================================================
	//====================================================================================================

	$(document).ready(function() {
	
	
		
		//PART 1: SET UP SCREEN  ----------------------
		drawTheTable();
		

		
	});
	
	
	
</script>


	
{% endblock %}
