{% extends 'layouts/base_tool.html' %}
{% load bootstrap3 %}

{% block title %}
	Edit Simulation {{ model.name }}
{% endblock %}

{% block additionalcss %}


<style>
		

	.rate {
		float: left;
		height: 46px;
	}
	.rate:not(:checked) > input {
		position:absolute;
		top:-9999px;
	}
	.rate:not(:checked) > label {
		float:right;
		width:1em;
		overflow:hidden;
		white-space:nowrap;
		cursor:pointer;
		font-size:30px;
		color:#ccc;
	}
	.rate:not(:checked) > label:before {
		content: '★ ';
	}
	.rate > input:checked ~ label {
		color: #ffc700;    
	}
	.rate:not(:checked) > label:hover,
	.rate:not(:checked) > label:hover ~ label {
		color: #deb217;  
	}
	.rate > input:checked + label:hover,
	.rate > input:checked + label:hover ~ label,
	.rate > input:checked ~ label:hover,
	.rate > input:checked ~ label:hover ~ label,
	.rate > label:hover ~ input:checked ~ label {
		color: #c59b08;
	}


		
</style>
{% endblock %}

{% block content %}

	{% for error in errors %}
		<div class="error">{{ error }}</div><br>
	{% endfor %}
	<br>
	
	<h1>2 - Info about the data source...</h1>
	<br>
	<form role="form" action="" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group row">  
			<label for="data_source" class="col-sm-4 col-form-label">Institution that generated the data</label>
			<div class="col-sm-8">
				<input type="text" list="data-source-list" class="form-control-plaintext" id="data_source" name="data_source">
				<datalist id="data-source-list"></datalist>
				<div class="help-block">If the instution isn't in the suggestions, just write its full name.</div>
			</div>
		</div> 
		<div class="form-group row">  
			<label for="data_generation_date" class="col-sm-4 col-form-label">Time the data was generated</label>
			<div class="col-sm-8">
				<input type="date" id="data_generation_date"  class="form-control-plaintext" value="2017-01-01" name="data_generation_date">
			</div>
		</div> 

		<div class="form-group row">  
			<label class="col-sm-4 col-form-label">Correctness of the data</label>
			<div class="col-sm-8">
				<div class="rate">
					<input type="radio" id="star5" name="correctness_of_data" value=5 />
					<label for="star5" title="text">5 stars</label>
					<input type="radio" id="star4" name="correctness_of_data" value=4 />
					<label for="star4" title="text">4 stars</label>
					<input type="radio" id="star3" name="correctness_of_data" value=3 />
					<label for="star3" title="text">3 stars</label>
					<input type="radio" id="star2" name="correctness_of_data" value=2 />
					<label for="star2" title="text">2 stars</label>
					<input type="radio" id="star1" name="correctness_of_data" value=1 />
					<label for="star1" title="text">1 star</label>
				</div>
			</div>
		</div> 

		<div class="form-group">
			<button type="submit" class="btn btn-primary">
				<span class="glyphicon glyphicon-star"></span> Next
			</button>
		</div>
	</form>	

	

	<script>
	
		function CreateDataSourceAutocompleteOptions() {
			var known_data_sources = {{ known_data_sources | safe }}
			
			var dataSourceList = document.getElementById('data-source-list');
			
			for (var i = 0; i < known_data_sources.length; i++) {
				var option = document.createElement('option');
				option.value = known_data_sources[i];
				dataSourceList.appendChild(option);
			}
		}
		
		
		/*========================================================================*/
		/*========================================================================*/
		/*========================================================================*/

		window.onload = function() {

			CreateDataSourceAutocompleteOptions();
		  
		};

	</script>

	
{% endblock %}
